<template>
    <table v-if="statuses.length > 0">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Slug</th>
                <th>Background Color</th>
                <th>Foreground Color</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(status, i) in statuses" :key="status.id">
                <td>{{ i + 1 }}</td>
                
                <!-- Name -->
                <td>{{ status.name }}</td>
                
                <!-- Slug -->
                <td>{{ status.slug }}</td>

                <!-- BG Color -->
                <td><span class="status" :style="{ background: status.bgColor, color: status.fgColor }">{{ status.bgColor }}</span></td>

                <!-- FG Color -->
                <td><span class="status" :style="{ background: status.bgColor, color: status.fgColor }">{{ status.fgColor }}</span></td>

                <!-- Actions -->
                <td class="actions">
                    <a @click.prevent="showUpdateModal(status)" :href="'/song_statuses/edit/' + status.id" title="Edit" v-if="!status.locked">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a @click.prevent="del(status)" :href="'/song_statuses/delete/' + status.id" title="Delete" v-if="!status.locked">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import { common } from '../../main';

    export default {
        methods: {
            showUpdateModal(status) {
                this.$emit('showUpdateModal', status);
            },
            del(status) {
                this.$emit('del', status);
            }
        },
        computed: {
            statuses() {
                return common.songStatuses.sort((a, b) => { return (a.name.toLowerCase() < b.name.toLowerCase()) ? -1 : (a.name.toLowerCase() < b.name.toLowerCase()) ? 1 : 0 });
            }
        }
    }
</script>

<style>
    span.status {
        padding: 4px 6px;
        border-radius: 4px;
        font-size: 14px;
        display: inline;
    }
</style>