<template>
    <div class="modal-wrapper" @click="$emit('cancel')">
        <div class="modal" @click.stop>

            <header class="modal-header">
                <h2 class="modal-h2">
                    <span v-if="mode == 'create' && currentTab == 'cn'">Create New Status</span>
                    <span v-if="mode == 'create' && currentTab == 'ae'">Add Existing Status</span>
                    
                    <span v-if="mode == 'update'">Update Status</span>
                </h2>
                <div v-if="mode == 'create' && statuses.length > 0" class="header-button-container">
                    <span @click="currentTab = 'cn'" class="header-button" :class="{ 'selected': currentTab == 'cn' }">Create New</span>
                    <span @click="currentTab = 'ae'" class="header-button" :class="{ 'selected': currentTab == 'ae' }">Add Existing</span>
                </div>
            </header>

            <!-- Modal content-->
            <main class="modal-content">

                <div id="cn-tab" v-if="currentTab == 'cn'">
                    <p>
                        <label>Name</label>
                        <input type="text" v-model="status.name" required placeholder="For example: 'Married'">
                    </p>

                    <p>
                        <label>
                            Slug
                            <span class="optional-label" v-if="this.mode == 'create'">
                                Optional, if empty will be generated automatically
                            </span>
                        </label>
                        <input type="text" v-model="status.slug" required placeholder="For example: 'married'">
                    </p>
                    
                    <p>
                        <label>Background Color</label>
                        <span class="color-picker">
                            <input class="color-picker-color" type="color" v-model="status.bgColor" required>
                            <input type="text" v-model="status.bgColor" placeholder="For example: '#0056d6'">
                        </span>
                    </p>

                    <p>
                        <label>Foreground Color</label>
                        <span class="color-picker">
                            <input class="color-picker-color" type="color" v-model="status.fgColor" required>
                            <input type="text" v-model="status.fgColor" placeholder="For example: '#0056d6'">
                        </span>
                    </p>
                </div>

                <div id="ae-tab" v-if="currentTab == 'ae'">
                    <label>Existing Status</label>

                    <select v-model="selectedStatus.id" required :class="{ 'placeholder-color': selectedStatus.id == null }">
                        <option v-if="selectedStatus.id == null" :value="null">--- Select ---</option>
                        <option v-for="s in statuses" :value="s.id" :key="s.id">{{ s.name }}</option>
                    </select>
                </div>
            </main>
            <footer class="modal-footer" id="modal-buttons-wrapper">
                <button
                    type="button"
                    class="button normal"
                    :disabled="buttonIsDisabled"
                    @click="save()">
                        {{
                            this.mode == 'update' ? 'Save' : currentTab == 'ae' ? 'Add' : 'Create'
                        }}
                </button>
                <button type="button" class="button cancel" @click="cancel()">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import { common } from '../../main';
    
    export default {
        props: [
            'status',
            'mode'
        ],
        data() {
            return {
                statuses: [],
                selectedStatus: { id: null },
                currentTab: 'cn'
            }
        },
        methods: {
            save() {
                if (this.mode == 'create') {
                    var status;

                    if (this.currentTab == 'ae') {
                        status = this.selectedStatus;
                    } else if (this.currentTab == 'cn') {
                        status = this.status;

                        if (status.slug == null) {
                            status.slug = common.toSlug(status.name);
                        }
                    }

                    axios.post('song_statuses/create.php', status)
                    .then(response => {
                        if (response != 0) {
                            axios.get('song_statuses/read_single.php', {
                                params: {
                                    ss2b_id: response.data
                                }
                            })
                            .then(r => {
                                this.$emit('create', r.data);
                            });
                        }
                    })
                } else if (this.mode == 'update') {
                    axios.put('song_statuses/update.php', this.status)
                    .then(() => {
                        axios.get('song_statuses/read_single.php', {
                            params: {
                                ss2b_id: this.status.ss2bId
                            }
                        })
                        .then(r => {
                            this.$emit('update', r.data);
                        });
                    })
                }
            },
            cancel() {
                this.$emit('cancel');
            },
            checkIfColorValid(s) {
                var patternRegex = new RegExp(/^#[A-Fa-f0-9]{6}$/);
                if (!patternRegex.test(s)) return false;
                
                return true;
            }
        },
        computed: {
            buttonIsDisabled() {
                return  (this.currentTab == 'cn' && (!this.status.name || !this.checkIfColorValid(this.status.bgColor) || !this.status.bgColor || !this.checkIfColorValid(this.status.fgColor) || !this.status.fgColor))
                        ||
                        (this.currentTab == 'ae' && this.selectedStatus.id == null);
            }
        },
        created() {
            axios.get('song_statuses/read.php', {
                params: {
                    by_current_band: false
                }
            }).then(response => {
                this.statuses = response.data;
            });
        }
    }
</script>