<template>
    <main>
        <h1>
            Song Statuses
            <a
                href="/song-statuses/create"
                v-if="isAuth"
                @click.prevent="showCreateModal()">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h1>

        <div v-if="this.songStatuses.length == 0">
            No song statuses to show. <a href="/song-statuses/create" @click.prevent="showCreateModal()">Create</a> your first song status.
        </div>

        <grid
            @showUpdateModal="showUpdateModal($event)"
            @del="del($event)"></grid>

        <modal
            v-if="showModal"
            :mode="mode"
            :status="statusToEdit"
            @create="create($event)"
            @update="update($event)"
            @cancel="showModal = false;" />
    </main>
</template>

<script>
    import axios from 'axios';

    import { common } from '../../main';
    
    import grid from './grid.vue';
    import modal from './modal.vue';

    export default {
        data () {
            return {
                isAuth: common.isAuth,
                showModal: false,
                statusToEdit: {},
                mode: ''
            }
        },
        components: {
            grid,
            modal
        },
        methods: {
            showCreateModal() {
                this.showModal = true;
                this.statusToEdit = {};
                this.mode = 'create';
            },
            create(status) {
                if (status != 0) {
                    common.songStatuses.push(status);
                    this.showModal = false;
                }
            },
            showUpdateModal(status) {
                this.showModal = true;
                this.statusToEdit = JSON.parse(JSON.stringify(common.songStatuses.find(s => s.id === status.id)));
                this.mode = 'update';
            },
            update(newStatus) {
                var oldStatus = common.songStatuses.find(r => r.id === newStatus.id);
                common.songStatuses.splice(common.songStatuses.indexOf(oldStatus), 1, newStatus);
                this.showModal = false;
            },
            del(status) {
                if (confirm("Are you sure?")) {
                    axios.delete('song_statuses/delete.php', { data: status.id })
                    .then(response => {
                        if (response.data == "OK") {
                            common.songStatuses.splice(common.songStatuses.indexOf(status), 1);
                        } else {
                            alert(response.data);
                        }
                    })
                }
            }
        },
        created() {
            axios.get('song_statuses/read.php', {
                params: {
                    by_current_band: true
                }
            })
            .then(response => {
                common.songStatuses = response.data;
            })
        },
        computed: {
            songStatuses() {
                return common.songStatuses;
            }
        }
    }
</script>

<style>
    h1 a {
        color: #ccc;
        text-decoration: none;
        font-size: 20px;
        margin-left: 1em;
    }

    h1 a:hover {
        color: #39f;
    }
</style>
