<template>
    <table v-if="origins.length > 0">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Slug</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(origin, i) in origins" :key="origin.id">
                <td>{{ i + 1 }}</td>
                
                <!-- Name -->
                <td>{{ origin.name }}</td>

                <!-- Slug -->
                <td>{{ origin.slug }}</td>

                <!-- Actions -->
                <td class="actions">
                    <a @click.prevent="showUpdateModal(origin)" :href="'/origins/edit/' + origin.id" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a @click.prevent="del(origin)" :href="'/origins/delete/' + origin.id" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import { common } from '../../main';

    export default {
        methods: {
            showUpdateModal(origin) {
                this.$emit('showUpdateModal', origin);
            },
            del(origin) {
                this.$emit('del', origin);
            }
        },
        computed: {
            origins() {
                return common.origins.sort((a, b) => { return (a.sortName.toLowerCase() < b.sortName.toLowerCase()) ? -1 : (a.sortName.toLowerCase() < b.sortName.toLowerCase()) ? 1 : 0 });
            }
        }
    }
</script>

<style>
    span.status {
        padding: 4px 6px;
        border-radius: 4px;
        font-size: 14px;
        display: inline;
    }
</style>