<template>
    <div class="modal-wrapper" @click="$emit('cancel')">
        <div class="modal" @click.stop>

            <header class="modal-header">
                <h2 class="modal-h2">
                    <span v-if="mode == 'create' && currentTab == 'cn'">Create New Origin</span>
                    <span v-if="mode == 'create' && currentTab == 'ae'">Add Existing Origin</span>
                    
                    <span v-if="mode == 'update'">Update Origin</span>
                </h2>
                <div v-if="mode == 'create' && origins.length > 0" class="header-button-container">
                    <span @click="currentTab = 'cn'" class="header-button" :class="{ 'selected': currentTab == 'cn' }">Create New</span>
                    <span @click="currentTab = 'ae'" class="header-button" :class="{ 'selected': currentTab == 'ae' }">Add Existing</span>
                </div>
            </header>

            <!-- Modal content-->
            <main class="modal-content">
                <div id="cn-tab" v-if="currentTab == 'cn'">
                    <p>
                        <label>Name</label>
                        <input type="text" v-model="origin.name" required placeholder="For example: 'Razor and the Scummettes'">
                    </p>

                    <p>
                        <label>
                            Slug
                            <span class="optional-label" v-if="this.mode == 'create'">
                                Optional, if empty will be generated automatically
                            </span>
                        </label>
                        <input type="text" v-model="origin.slug" required placeholder="For example: 'razor-and-the-scummettes'">
                    </p>
                </div>

                <div id="ae-tab" v-if="currentTab == 'ae'">
                    <label>Existing Origin</label>

                    <select id="origin-id" v-model="selectedOrigin.id" required :class="{ 'placeholder-color': selectedOrigin.id == null }">
                        <option v-if="selectedOrigin.id == null" :value="null">--- Select ---</option>
                        <option v-for="o in origins" :value="o.id" :key="o.id">{{ o.name }}</option>
                    </select>
                </div>
            </main>

            <footer class="modal-footer" id="modal-buttons-wrapper">
                <button
                    type="button"
                    class="button normal"
                    :disabled="buttonIsDisabled"
                    @click="save()">
                        {{
                            this.mode == 'update' ? 'Save' : currentTab == 'ae' ? 'Add' : 'Create'
                        }}
                </button>
                <button type="button" class="button cancel" @click="cancel()">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import { common } from '../../main';
    
    export default {
        props: [
            'origin',
            'mode'
        ],
        data() {
            return {
                selectedOrigin: { id: null },
                currentTab: 'cn',
                origins: []
            }
        },
        methods: {
            save() {
                if (this.mode == 'create') {
                    var origin;

                    if (this.currentTab == 'ae') {
                        origin = this.selectedOrigin;
                    } else if (this.currentTab == 'cn') {
                        origin = this.origin;

                        if (origin.slug == null) {
                            origin.slug = common.toSlug(origin.name);
                        }
                    }

                    axios.post('origins/create.php', origin)
                    .then(response => {
                        if (response != 0) {
                            axios.get('origins/read_single.php', {
                                params: {
                                    o2b_id: response.data
                                }
                            })
                            .then(r => {
                                this.$emit('create', r.data);
                            });
                        }
                    });
                } else if (this.mode == 'update') {
                    axios.put('origins/update.php', this.origin)
                    .then(() => {
                        axios.get('origins/read_single.php', {
                            params: {
                                o2b_id: this.origin.o2bId
                            }
                        })
                        .then(r => {
                            this.$emit('update', r.data);
                        });
                    });
                }
            },
            cancel() {
                this.$emit('cancel');
            }
        },
        computed: {
            buttonIsDisabled() {
                return  (this.currentTab == 'cn' && !this.origin.name)
                        ||
                        (this.currentTab == 'ae' && this.selectedOrigin.id == null);
            }
        },
        created() {
            axios.get('origins/read.php', {
                params: {
                    by_current_band: false
                }
            }).then(response => {
                this.origins = response.data;
            });
        }
    }
</script>