<template>
    <main>
        <h1>
            Origins
            <a
                href="/origins/create"
                v-if="isAuth"
                @click.prevent="showCreateModal()">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h1>

        <div v-if="this.origins.length == 0">
            No origins to show. <a href="/origins/create" @click.prevent="showCreateModal()">Create</a> your first origin.
        </div>

        <grid
            @showUpdateModal="showUpdateModal($event)"
            @del="del($event)"></grid>

        <modal 
            v-if="showModal"
            :mode="mode"
            :origin="originToEdit"
            @create="create($event)"
            @update="update($event)"
            @cancel="showModal = false;" />
    </main>
</template>

<script>
    import axios from 'axios';

    import { common } from '../../main';
    
    import grid from './grid.vue';
    import modal from './modal.vue';

    export default {
        data () {
            return {
                isAuth: common.isAuth,
                showModal: false,
                originToEdit: {},
                mode: ''
            }
        },
        components: {
            grid,
            modal
        },
        methods: {
            showCreateModal() {
                this.showModal = true;
                this.originToEdit = {};
                this.mode = 'create';
            },
            create(origin) {
                if (origin != 0) {
                    common.origins.push(origin);
                    this.showModal = false;
                }
            },
            showUpdateModal(origin) {
                this.showModal = true;
                this.originToEdit = JSON.parse(JSON.stringify(common.origins.find(s => s.id === origin.id)));
                this.mode = 'update';
            },
            update(newOrigin) {
                var oldOrigin = common.origins.find(r => r.id === newOrigin.id);
                common.origins.splice(common.origins.indexOf(oldOrigin), 1, newOrigin);
                this.showModal = false;
            },
            del(origin) {
                if (confirm("Are you sure?")) {
                    axios.delete('origins/delete.php', { data: origin.id })
                    .then(response => {
                        if (response.data == "OK") {
                            common.origins.splice(common.origins.indexOf(origin), 1);
                        } else {
                            alert(response.data);
                        }
                    })
                }
            }
        },
        created() {
            axios.get('origins/read.php', {
                params: {
                    by_current_band: true
                }
            })
            .then(response => {
                common.origins = response.data;
            })
        },
        computed: {
            origins() {
                return common.origins;
            }
        }
    }
</script>

<style>
    h1 a {
        color: #ccc;
        text-decoration: none;
        font-size: 20px;
        margin-left: 1em;
    }

    h1 a:hover {
        color: #39f;
    }
</style>
