<template>
    <table v-if="roles.length > 0">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Color</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(role, i) in roles" :key="role.id">
                <td>{{ i + 1 }}</td>
                <!-- Name -->
                <td>{{ role.name }}</td>

                <!-- Color -->
                <td>
                    <span class="color-box" :style="{ background: role.color }"></span>
                    {{ role.color }}
                </td>

                <!-- Actions -->
                <td class="actions">
                    <a @click.prevent="showUpdateModal(role)" :href="'/roles/edit/' + role.id" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a @click.prevent="del(role)" :href="'/roles/delete/' + role.id" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import { common } from '../../main';

    export default {
        methods: {
            showUpdateModal(role) {
                this.$emit('showUpdateModal', role);
            },
            del(role) {
                this.$emit('del', role);
            }
        },
        computed: {
            roles() {
                return common.roles.sort((a, b) => { return (a.name.toLowerCase() < b.name.toLowerCase()) ? -1 : (a.name.toLowerCase() < b.name.toLowerCase()) ? 1 : 0 });
            }
        }
    }
</script>

<style>
    span.status {
        padding: 4px 6px;
        border-radius: 4px;
        font-size: 14px;
        display: inline;
    }
    .color-box {
        height: 16px;
        width: 16px;
        display: inline-block
    }
</style>