<template>
    <div class="modal-wrapper" @click="$emit('cancel')">
        <div class="modal" @click.stop>

            <header class="modal-header">
                <h2 class="modal-h2">
                    <span v-if="mode == 'create' && currentTab == 'cn'">Create New Role</span>
                    <span v-if="mode == 'create' && currentTab == 'ae'">Add Existing Role</span>
                    
                    <span v-if="mode == 'update'">Update Role</span>
                </h2>
                <div v-if="mode == 'create' && roles.length > 0" class="header-button-container">
                    <span @click="currentTab = 'cn'" class="header-button" :class="{ 'selected': currentTab == 'cn' }">Create New</span>
                    <span @click="currentTab = 'ae'" class="header-button" :class="{ 'selected': currentTab == 'ae' }">Add Existing</span>
                </div>
            </header>

            <!-- Modal content-->
            <main class="modal-content">

                <div id="cn-tab" v-if="currentTab == 'cn'">
                    <p>
                        <label>Name</label>
                        <input type="text" v-model="role.name" required placeholder="For example: 'Banjo'">
                    </p>

                    <p>
                        <label>
                            Slug
                            <span class="optional-label" v-if="this.mode == 'create'">
                                Optional, if empty will be generated automatically
                            </span>
                        </label>
                        <input type="text" v-model="role.slug" required placeholder="For example: 'banjo'">
                    </p>
                </div>

                <div id="ae-tab" v-if="currentTab == 'ae'">
                    <label>Existing Role</label>

                    <select id="role-id" v-model="selectedRole.id" required :class="{ 'placeholder-color': selectedRole.id == null }" @change="setValues($event)">
                        <option v-if="selectedRole.id == null" :value="null">--- Select ---</option>
                        <option v-for="r in roles" :value="r.id" :key="r.id">{{ r.name }}</option>
                    </select>
                    
                </div>
                
                <p>
                    <label>Color</label>
                    <span class="color-picker">
                        <input class="color-picker-color" type="color" v-model="role.color" required>
                        <input type="text" v-model="role.color" placeholder="For example: '#0056d6'">
                    </span>
                </p>
            </main>
            <footer class="modal-footer" id="modal-buttons-wrapper">
                <button
                    type="button"
                    class="button normal"
                    :disabled="buttonIsDisabled"
                    @click="save()">
                        {{
                            this.mode == 'update' ? 'Save' : currentTab == 'ae' ? 'Add' : 'Create'
                        }}
                </button>
                <button type="button" class="button cancel" @click="cancel()">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import { common } from '../../main';
    
    export default {
        props: [
            'role',
            'mode'
        ],
        data() {
            return {
                roles: [],
                selectedRole: { id: null },
                currentTab: 'cn'
            }
        },
        methods: {
            setValues(event) {
                this.role.color = this.roles.find(r => r.id == event.target.value).color;
            },
            save() {
                if (this.mode == 'create') {
                    var role;

                    if (this.currentTab == 'ae') {
                        role = this.selectedRole;
                        role.color = this.role.color;
                    } else if (this.currentTab == 'cn') {
                        role = this.role;

                        if (role.slug == null) {
                            role.slug = common.toSlug(role.name);
                        }
                    }

                    axios.post('roles/create.php', role)
                    .then(response => {
    
                        if (response != 0) {
                            axios.get('roles/read_single.php', {
                                params: {
                                    r2b_id: response.data
                                }
                            }).then(r => {
                                this.$emit('create', r.data);
                            });
                        }
                    })
                } else if (this.mode == 'update') {
                    axios.put('roles/update.php', this.role)
                    .then(() => {
                        axios.get('roles/read_single.php', {
                            params: {
                                r2b_id: this.role.r2bId
                            }
                        }).then(r => {
                            this.$emit('update', r.data);
                        });
                    })
                }
            },
            cancel() {
                this.$emit('cancel');
            },
            checkIfColorValid(s) {
                var patternRegex = new RegExp(/^#[A-Fa-f0-9]{6}$/);
                if (!patternRegex.test(s)) return false;
                
                return true;
            }
        },
        computed: {
            buttonIsDisabled() {
                return  (this.currentTab == 'cn' && !this.role.name)
                        ||
                        (this.currentTab == 'ae' && this.selectedRole.id == null)
                        ||
                        (!this.role.color || !this.checkIfColorValid(this.role.color));
            }
        },
        created() {
            axios.get('roles/read.php', {
                params: {
                    by_current_band: false
                }
            }).then(response => {
                this.roles = response.data;
            });
        }
    }
</script>