<template>
    <main>
        <h1>
            Roles
            <a
                href="/roles/create"
                v-if="isAuth"
                @click.prevent="showCreateModal()">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h1>

        <div v-if="this.roles.length == 0">
            No roles to show. <a href="/roles/create" @click.prevent="showCreateModal()">Create</a> your first role.
        </div>

        <grid @showUpdateModal="showUpdateModal($event)" @del="del($event)"></grid>
        <modal v-if="showModal" :mode="mode" :role="roleToEdit" @create="create($event)" @update="update($event)" @cancel="showModal = false;" />
    </main>
</template>

<script>
    import axios from 'axios';

    import { common } from '../../main';
    
    import grid from './grid.vue';
    import modal from './modal.vue';

    export default {
        data () {
            return {
                isAuth: common.isAuth,
                showModal: false,
                roleToEdit: {},
                mode: ''
            }
        },
        components: {
            grid,
            modal
        },
        methods: {
            showCreateModal() {
                this.showModal = true;
                this.roleToEdit = { color: null };
                this.mode = 'create';
            },
            create(role) {
                if (role != 0) {
                    common.roles.push(role);
                    this.showModal = false;
                }
            },
            showUpdateModal(role) {
                this.showModal = true;
                this.roleToEdit = JSON.parse(JSON.stringify(common.roles.find(s => s.id === role.id)));
                this.mode = 'update';
            },
            update(newRole) {
                var oldRole = common.roles.find(r => r.r2bId === newRole.r2bId);
                common.roles.splice(common.roles.indexOf(oldRole), 1, newRole);
                this.showModal = false;
            },
            del(role) {
                if (confirm("Are you sure?")) {
                    axios.delete('roles/delete.php', { data: role })
                    .then(response => {
                        if (response.data == "OK") {
                            common.roles.splice(common.roles.indexOf(role), 1);
                        } else {
                            alert(response.data);
                        }
                    })
                }
            }
        },
        computed: {
            roles() {
                return common.roles;
            }
        },
        created() {
            axios.get('roles/read.php', {
                params: {
                    by_current_band: true
                }
            })
            .then(response => {
                common.roles = response.data;
            })
        }
    }
</script>

<style>
    h1 a {
        color: #ccc;
        text-decoration: none;
        font-size: 20px;
        margin-left: 1em;
    }

    h1 a:hover {
        color: #39f;
    }
</style>