<template>
    <table v-if="venues.length > 0">
        <thead>
            <tr>
                <th></th>
                <th v-if="isAuth"></th>
                <th>Name</th>
                <th class="location">Location</th>
                <th>Gigs</th>
                <th v-if="isAuth">Contact Person</th>
                <th v-if="isAuth">Phone</th>
                <th v-if="isAuth">Notes</th>
                <th v-if="isAuth"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(venue, i) in venues" :key="venue.id" v-show="isAuth || venue.gigsNum > 0">
                <td>{{ i + 1 }}</td>

                <td v-if="isAuth">
                    <i
                        v-if="venue.gigsNum > 0"
                        class="fas fa-check-circle"
                        :style="{
                            color: 'green',
                            opacity: venue.pastGigsNum == 0 && venue.gigsNum > 0 ? .35 : 1
                        }"></i>
                </td>

                <!-- Name -->
                <td>
                    <a v-if="venue.url" :href="venue.url" target="_blank">
                        {{ venue.name }}
                    </a>
                    <span v-else>
                        {{ venue.name }}
                    </span>
                </td>

                <!-- Location -->
                <td class="location">
                    <img
                        class="location"
                        :src="baseUrl + '/../src/assets/img/locations/' + venue.locationImage"
                        :alt="venue.location"
                        :title="venue.location">
                    <div class="location">{{ venue.location }}</div>
                </td>

                <!-- Gigs -->
                <td>
                    <span v-if="venue.pastGigsNum > 0">{{ venue.pastGigsNum }}</span>
                    <span v-if="venue.gigsNum - venue.pastGigsNum > 0">
                        (<span v-if="venue.pastGigsNum > 0">+ </span>{{ venue.gigsNum - venue.pastGigsNum }} planned)
                    </span>
                </td>

                <!-- Contact Person -->
                <td v-if="isAuth">{{ venue.contact }}</td>

                <!-- Phone -->
                <td v-if="isAuth">{{ venue.phone }}</td>

                <!-- Notes -->
                <td v-if="isAuth" style="white-space: pre;">{{ venue.notes }}</td>

                <!-- Actions -->
                <td v-if="isAuth" class="actions">
                    <a @click.prevent="showUpdateModal(venue)" :href="'/venues/edit/' + venue.id" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a @click.prevent="del(venue)" :href="'/venues/delete/' + venue.id" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import { common } from '../../main';

    export default {
        data () {
            return {
                isAuth: common.isAuth,
                baseUrl: ''
            }
        },
        props: [
            'sortStatus',
            'sortLocation'
        ],
        created() {
            this.baseUrl = common.baseUrl;
        },
        methods: {
            showUpdateModal(venue) {
                this.$emit('showUpdateModal', venue);
            },
            del(venue) {
                this.$emit('del', venue);
            }
        },
        computed: {
            venues() {
                return common.venues.sort((a, b) => {
                    return (a.sortName.toLowerCase() < b.sortName.toLowerCase()) ? -1 : (a.sortName.toLowerCase() > b.sortName.toLowerCase()) ? 1 : 0;
                }).filter(venue => {
                    switch (this.sortStatus) {
                        case 'played': return venue.pastGigsNum > 0;
                        case 'never-played': return venue.pastGigsNum == 0;
                        default: return true;
                    }
                }).filter(venue => {
                    var location = common.locations.find(l => { return l.slug == this.sortLocation });
                    if (location != null) return venue.locationId == location.id;
                    return true;
                });
            }
        }
    }
</script>

<style scoped>
    span.status {
        padding: 4px 6px;
        border-radius: 4px;
        font-size: 14px;
        display: inline;
    }

    td.location, th.location {
        text-align: center;
    }

    img.location {
        max-width: 2.5em;
    }

    div.location {
        padding: 4px;
        border-radius: 4px;
    }

    div.location{
        text-align: center;
        font-size: 80%;
    }

    td.location span {
        display: block;
    }
</style>