<template>
    <div class="modal-wrapper" @click="$emit('cancel')">
        <div class="modal" @click.stop>

            <header class="modal-header">
                <h2 class="modal-h2">
                    <span v-if="mode == 'create' && currentTab == 'cn'">Create New Venue</span>
                    <span v-if="mode == 'create' && currentTab == 'ae'">Add Existing Venue</span>
                    
                    <span v-if="mode == 'update'">Update Venue</span>
                </h2>
                <div v-if="mode == 'create' && venues.length > 0" class="header-button-container">
                    <span @click="currentTab = 'cn'" class="header-button" :class="{ 'selected': currentTab == 'cn' }">Create New</span>
                    <span @click="currentTab = 'ae'" class="header-button" :class="{ 'selected': currentTab == 'ae' }">Add Existing</span>
                </div>
            </header>

            <!-- Modal content-->
            <main class="modal-content">

                <div id="cn-tab" v-if="currentTab == 'cn'">
                    <p>
                        <label>Name</label>
                        <input type="text" v-model="venue.name" required placeholder="For example: 'The SCUMM Bar'">
                    </p>

                    <p>
                        <label>
                            Slug
                            <span style="font-size: 90%; opacity: .75; display: block; margin: 4px 0" v-if="this.mode == 'create'">
                                Optional, if empty will be generated automatically
                            </span>
                        </label>
                        <input type="text" v-model="venue.slug" required placeholder="For example: 'scumm-bar'">
                    </p>

                    <p>
                        <label>Location</label>
                        <select id="location-id" v-model="venue.locationId" required :class="{ 'placeholder-color': venue.locationId == null }">
                            <option v-if="venue.locationId == null" :value="null">--- Select ---</option>
                            <option v-for="location in locations" :value="location.id" :key="location.id">{{ location.name }}</option>
                        </select>
                    </p>

                    <p>
                        <label>Contact (Optional)</label>
                        <input type="text" v-model="venue.contact" placeholder="For example: 'Guybrush Threepwood'">
                    </p>

                    <p>
                        <label>Phone (Optional)</label>
                        <input type="tel" v-model="venue.phone" placeholder="For example: '054-123-4567'">
                    </p>

                    <p>
                        <label>URL (Optional)</label>
                        <input type="url" v-model="venue.url" placeholder="For example: 'www.scummbar.com'">
                    </p>

                    <p>
                        <label>Notes (Optional)</label>
                        <textarea style="white-space: pre" v-model="venue.notes" placeholder="For example: 'Dogs are allowed'"></textarea>
                    </p>
                </div>

                <div id="ae-tab" v-if="currentTab == 'ae'">
                    <label>Existing Venue</label>
                    <select id="venue-id" v-model="selectedVenue.id" required :class="{ 'placeholder-color': selectedVenue.id == null }">
                        <option v-if="selectedVenue.id == null" :value="null">--- Select ---</option>
                        <option v-for="v in venues" :value="v.id" :key="v.id">{{ v.name }}</option>
                    </select>
                </div>
            </main>
            <footer class="modal-footer" id="modal-buttons-wrapper">
                <button
                    type="button"
                    class="button normal"
                    :disabled="buttonIsDisabled"
                    @click="save()">
                        {{
                            this.mode == 'update' ? 'Save' : currentTab == 'ae' ? 'Add' : 'Create'
                        }}
                </button>
                <button type="button" class="button cancel" @click="cancel()">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import { common } from '../../main';
    
    export default {
        props: [
            'venue',
            'mode'
        ],
        data() {
            return {
                locations: [],
                selectedVenue: { id: null },
                venues: [],
                currentTab: 'cn'
            }
        },
        methods: {
            save() {
                if (this.mode == 'create') {
                    var ven;

                    if (this.currentTab == 'ae') {
                        ven = this.selectedVenue;
                    } else if (this.currentTab == 'cn') {
                        ven = this.venue;

                        if (ven.slug == null) {
                            ven.slug = common.toSlug(ven.name);
                        }
                    }

                    axios.post('venues/create.php', ven)
                    .then(response => {
                        if (response != 0) {
                            axios.get('venues/read_single.php', {
                                params: {
                                    id: response.data
                                }
                            })
                            .then(r => {
                                this.$emit('create', r.data);
                            });
                        }
                    });
                } else if (this.mode == 'update') {
                    axios.put('venues/update.php', this.venue)
                    .then(() => {
                        axios.get('venues/read_single.php', {
                            params: {
                                id: this.venue.id
                            }
                        })
                        .then(r => {
                            this.$emit('update', r.data);
                        });
                    })
                }
            },
            cancel() {
                this.$emit('cancel');
            }
        },
        computed: {
            buttonIsDisabled() {
                return  (this.currentTab == 'cn' && (!this.venue.name || this.venue.locationId == null))
                        ||
                        (this.currentTab == 'ae' && this.selectedVenue.id == null);
            }
        },
        created() {
            axios.get('locations/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                this.locations = response.data;
            });

            axios.get('venues/read.php', {
                params: {
                    by_current_band: false
                }
            }).then(response => {
                this.venues = response.data;
            });
        }
    }
</script>