<template>
    <main>
        <h1>
            Venues
            <a
                href="/venues/create"
                v-if="isAuth"
                @click.prevent="showCreateModal()">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h1>

        <div v-if="this.venues.length == 0">
            No venues to show. <a href="/venues/create" @click.prevent="showCreateModal()">Create</a> your first venue.
        </div>

        <div class="subcontrols-wrapper" v-if="isAuth && this.venues.length > 0">
            <div class="subcontrols-backdrop" v-if="showLocations" @click="showLocations = false"></div>

            <div class="subcontrols-group">
                <h5>Status:</h5>

                <div class="subcontrols">
                    <div class="subcontrols-options">
                        <router-link
                            class="nav-link subcontrols-option"
                            :to="routerLink('any-status', sortLocation)"
                            :class="{ active: sortStatus == 'any-status' }">All</router-link>
                        <router-link
                            class="nav-link subcontrols-option"
                            :to="routerLink('played', sortLocation)"
                            :class="{ active: sortStatus == 'played' }">Played at least once</router-link>
                        <router-link
                            class="nav-link subcontrols-option"
                            :to="routerLink('never-played', sortLocation)"
                            :class="{ active: sortStatus == 'never-played' }">Never played</router-link>
                    </div>
                </div>
            </div>

            <div class="subcontrols-group">
                <h5>Location:</h5>

                <div class="subcontrols">
                    <span
                        v-if="locations.length > 3"
                        class="subcontrols-selected"
                        @click="showLocations = !showLocations">
                        {{ sortLocation == 'any-location' ? 'All' : locations.find(l => l.slug == sortLocation).name }}</span>

                    <div class="subcontrols-options" :class="{ open: showLocations, dropdown: locations.length > 3 }">
                        <router-link
                            @click.native="showLocations = false"
                            class="nav-link subcontrols-option"
                            :to="routerLink(sortStatus, 'any-location')"
                            :class="{ active: sortLocation == 'any-location' }">All</router-link>

                        <router-link
                            @click.native="showLocations = false"
                            v-for="location in locations"
                            :key="location.id"
                            class="nav-link subcontrols-option"
                            :to="routerLink(sortStatus, location.slug)"
                            :class="{ active: sortLocation == location.slug }">{{ location.name }}</router-link>
                    </div>
                </div>
            </div>
        </div>

        <grid
            @showUpdateModal="showUpdateModal($event)"
            @del="del($event)"
            :sortStatus="sortStatus"
            :sortLocation="sortLocation"></grid>

        <modal
            v-if="showModal"
            :mode="mode"
            :venue="venueToEdit"
            @create="create($event)"
            @update="update($event)"
            @cancel="showModal = false;" />
    </main>
</template>

<script>
    import axios from 'axios';

    import { common } from '../../main';
    
    import grid from './grid.vue';
    import modal from './modal.vue';

    export default {
        data () {
            return {
                isAuth: common.isAuth,
                showModal: false,
                showLocations: false,
                venueToEdit: {},
                mode: '',
                sortStatus: this.$route.params.sortStatus != null ? this.$route.params.sortStatus : 'any-status',
                sortLocation: this.$route.params.sortLocation != null ? this.$route.params.sortLocation : 'any-location'
            }
        },
        components: {
            grid,
            modal
        },
        methods: {
            routerLink(status, location) {
                return {
                    name: 'sortedVenues',
                    params: {
                        sortStatus: status,
                        sortLocation: location
                    }
                };
            },
            showCreateModal() {
                this.showModal = true;
                this.venueToEdit = { id: null, locationId: null };
                this.mode = 'create';
            },
            create(venue) {
                if (venue != 0) {
                    common.venues.push(venue);
                    this.showModal = false;
                }
            },
            showUpdateModal(venue) {
                this.showModal = true;
                this.venueToEdit = JSON.parse(JSON.stringify(common.venues.find(s => s.id === venue.id)));
                this.mode = 'update';
            },
            update(newVenue) {
                var oldVenue = common.venues.find(r => r.id === newVenue.id);
                common.venues.splice(common.venues.indexOf(oldVenue), 1, newVenue);
                this.showModal = false;
            },
            del(venue) {
                if (confirm("Are you sure?")) {
                    axios.delete('venues/delete.php', { data: venue.id })
                    .then(response => {
                        if (response.data == "OK") {
                            common.venues.splice(common.venues.indexOf(venue), 1);
                        } else {
                            alert(response.data);
                        }
                    })
                }
            }
        },
        watch: {
            '$route'(to, from) {
                this.sortStatus = to.params.sortStatus;
                this.sortLocation = to.params.sortLocation;
            }
        },
        computed: {
            locations() {
                return common.locations;
            },
            venues() {
                return common.venues;
            }
        },
        created() {
            axios.get('venues/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                common.venues = response.data;
            }),

            axios.get('locations/read.php', {
                params: {
                    by_current_band: true
                }
            })
            .then(response => {
                common.locations = response.data;
            })
        }
    }
</script>

<style>
    h1 a {
        color: #ccc;
        text-decoration: none;
        font-size: 20px;
        margin-left: 1em;
    }

    h1 a:hover {
        color: #39f;
    }
</style>
