<template>
    <div class="subcontrols-wrapper">
        <div class="subcontrols-backdrop" v-if="showOrigins || showStatuses" @click="showOrigins = false; showStatuses = false"></div>

        <div class="subcontrols-group">
            <h5>Origin:</h5>

            <div class="subcontrols">
                <span
                    v-if="origins.length > 3"
                    class="subcontrols-selected"
                    @click="showOrigins = !showOrigins">
                    {{ sortOrigin == 'any-origin' ? 'All' : origins.find(o => o.slug == sortOrigin).name }}</span>

                <div class="subcontrols-options" :class="{ open: showOrigins, dropdown: origins.length > 3 }">
                    <router-link
                        @click.native="showOrigins = false; showStatuses = false"
                        class="nav-link subcontrols-option"
                        :to="routerLink('any-origin', sortStatus)"
                        :class="{ active: sortOrigin == 'any-origin' }">All</router-link>

                    <router-link
                        @click.native="showOrigins = false; showStatuses = false"
                        v-for="origin in origins"
                        :key="origin.id"
                        class="nav-link subcontrols-option"
                        :to="routerLink(origin.slug, sortStatus)"
                        :class="{ active: sortOrigin == origin.slug }">{{ origin.name }}</router-link>
                </div>
            </div>
        </div>

        <div class="subcontrols-group">
            <h5>Status:</h5>

            <div class="subcontrols">
                <span
                    v-if="statuses.length > 3"
                    class="subcontrols-selected"
                    @click="showStatuses = !showStatuses">
                    {{ sortStatus == 'any-status' ? 'All' : statuses.find(s => s.slug == sortStatus).name }}</span>

                <div class="subcontrols-options" :class="{ open: showStatuses, dropdown: statuses.length > 3 }">
                    <router-link
                        @click.native="showOrigins = false; showStatuses = false"
                        class="nav-link subcontrols-option"
                        :to="routerLink(sortOrigin, 'any-status')"
                        :class="{ active: sortStatus == 'any-status' }">All</router-link>

                    <router-link
                        @click.native="showOrigins = false; showStatuses = false"
                        v-for="status in statuses"
                        :key="status.id"
                        class="nav-link subcontrols-option"
                        :to="routerLink(sortOrigin, status.slug)"
                        :class="{ active: sortStatus == status.slug }">{{ status.name }}</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    import { common } from '../../main';

    export default {
        props: [
            'sortOrigin',
            'sortStatus'
        ],
        data() {
            return {
                showOrigins: false,
                showStatuses: false
            }
        },
        methods: {
            routerLink(origin, status) {
                return {
                    name: 'sortedSongs',
                    params: {
                        sortOrigin: origin,
                        sortStatus: status
                    }
                };
            }
        },
        computed: {
            origins() {
                return common.origins;
            },
            statuses() {
                return common.songStatuses;
            }
        },
        created() {
            axios.get('origins/read.php', {
                params: {
                    by_current_band: true
                }
            })
            .then(response => {
                common.origins = response.data;
            }),
            axios.get('song_statuses/read.php', {
                params: {
                    by_current_band: true
                }
            })
            .then(response => {
                common.songStatuses = response.data;
            })
        }
    }
</script>