<template>
    <table v-if="sortedSongs.length > 0">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Length</th>
                <th>Origin</th>
                <th>Status</th>
                <th v-if="isAuth"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(song, i) in sortedSongs" :key="song.id">
                <td>{{ i + 1 }}</td>
                <!-- Title -->
                <td>{{ song.name }}</td>

                <!-- Length -->
                <td>
                    <span v-if="song.totalLength">{{ song.minutes | lz }}:{{ song.seconds | lz }}</span>
                </td>

                <!-- Origin -->
                <td>{{ song.originName }}</td>

                <!-- Status -->
                <td><span class="status" :style="{ background: song.bgColor, color: song.fgColor }">{{ song.status }}</span></td>

                <!-- Actions -->
                <td class="actions" v-if="isAuth">
                    <a @click.prevent="showUpdateModal(song)" :href="'/songs/edit/' + song.id" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a @click.prevent="del(song)" :href="'/songs/delete/' + song.id" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot style="border-top: 2px #ccc solid;">
            <tr>
                <td></td>
                <td>Total Length</td>
                <td>{{ totalLength }}</td>
                <td colspan="4"></td>
            </tr>
        </tfoot>
    </table>
</template>

<script>
    import { common } from '../../main';

    export default {
        data() {
            return {
                isAuth: common.isAuth
            }
        },
        props: [
            'showGigs',
            'sortOrigin',
            'sortStatus'
        ],
        methods: {
            showUpdateModal(song) {
                this.$emit('showUpdateModal', song);
            },
            del(song) {
                this.$emit('del', song);
            }
        },
        computed: {
            origins() {
                return common.origins;
            },
            sortedSongs() {
                return common.songs.sort((a, b) => {
                    return (a.sortName.toLowerCase() < b.sortName.toLowerCase()) ? -1 : (a.sortName.toLowerCase() > b.sortName.toLowerCase()) ? 1 : 0;
                }).filter(song => {
                    var origin = common.origins.find(o => { return o.slug == this.sortOrigin });
                    if (origin != null) return song.originId == origin.id;
                    return true;
                }).filter(song => {
                    var status = common.songStatuses.find(s => { return s.slug == this.sortStatus });
                    if (status != null) return song.statusId == status.id;
                    return true;
                });
            },
            totalLength() {
                var total = 0;
                this.sortedSongs.forEach(song => {
                    total += song.totalLength; // in seconds
                });

                var hours = Math.floor(total / 3600);
                var mins = Math.floor(total / 60) - hours * 60;
                var secs = total - mins * 60 - hours * 3600;

                return this.$options.filters.lz(hours) + ":" + this.$options.filters.lz(mins) + ":" + this.$options.filters.lz(secs);
            }
        },
        filters: {
            lz(num) {
                return (num >= 10 ? num : "0" + num);
            }
        }
    }
</script>

<style>
    span.status {
        padding: 4px 6px;
        border-radius: 4px;
        font-size: 14px;
        display: inline;
    }
</style>