<template>
    <div class="modal-wrapper" @click="$emit('cancel')">
        <div class="modal" @click.stop>

            <header class="modal-header">
                <h2 class="modal-h2">
                    <span v-if="mode == 'create' && currentTab == 'cn'">Create New Song</span>
                    <span v-if="mode == 'create' && currentTab == 'ae'">Add Existing Song</span>
                    
                    <span v-if="mode == 'update'">Update Song</span>
                </h2>
                <div v-if="mode == 'create' && songs.length > 0" class="header-button-container">
                    <span @click="currentTab = 'cn'" class="header-button" :class="{ 'selected': currentTab == 'cn' }">Create New</span>
                    <span @click="currentTab = 'ae'" class="header-button" :class="{ 'selected': currentTab == 'ae' }">Add Existing</span>
                </div>
            </header>

            <!-- Modal content-->
            <main class="modal-content">

                <!-- Create New -->
                <div id="cn-tab" v-if="currentTab == 'cn'">
                    <p>
                        <label>Name</label>
                        <input type="text" v-model="song.name" required placeholder="For example: '99 Bottles of Beer'">
                    </p>

                    <p>
                        <label>
                            Length
                            <span class="optional-label">
                                Optional
                            </span>
                        </label>
                        <select v-model="song.minutes" class="song-length" :class="{ 'placeholder-color': song.minutes == null }">
                            <option :value="null">--</option>
                            <option v-for="m in 60" :value="m - 1" :key="m">{{ m - 1 | leadingZero }}</option>
                        </select>
                        :
                        <select v-model="song.seconds" class="song-length" :class="{ 'placeholder-color': song.seconds == null }">
                            <option :value="null">--</option>
                            <option v-for="s in 60" :value="s - 1" :key="s">{{ s - 1 | leadingZero }}</option>
                        </select>
                        <button v-if="song.minutes != null || song.seconds != null" type="button" class="button cancel" @click="song.minutes = null; song.seconds = null;">Clear</button>
                    </p>

                    <p>
                        <label>Origin</label>
                        <select v-model="song.originId" required :class="{ 'placeholder-color': song.originId == null }">
                            <option v-if="song.originId == null" :value="null">--- Select ---</option>
                            <option v-for="origin in origins" :value="origin.id" :key="origin.id">{{ origin.name }}</option>
                        </select>
                    </p>
                </div>

                <!-- Add Existing -->
                <div id="ae-tab" v-if="currentTab == 'ae'">
                    <label>Existing Song</label>
                    <select v-model="selectedSong.id" required :class="{ 'placeholder-color': selectedSong.id == null }">
                        <option v-if="selectedSong.id == null" :value="null">--- Select ---</option>
                        <option v-for="s in songs" :value="s.id" :key="s.id">{{ s.name }}</option>
                    </select>
                </div>

                <p>
                    <label>Status</label>
                    <select v-model="song.statusId" required :class="{ 'placeholder-color': song.statusId == null }">
                        <option v-if="song.statusId == null" :value="null">--- Select ---</option>
                        <option v-for="status in songStatuses" :value="status.id" :key="status.id">{{ status.name }}</option>
                    </select>
                </p>
            </main>
            <footer class="modal-footer" id="modal-buttons-wrapper">
                <button
                    type="button"
                    class="button normal"
                    :disabled="buttonIsDisabled"
                    @click="save()">
                        {{
                            this.mode == 'update' ? 'Save' : currentTab == 'ae' ? 'Add' : 'Create'
                        }}
                </button>
                <button type="button" class="button cancel" @click="cancel()">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    
    export default {
        props: [
            'song',
            'mode'
        ],
        data() {
            return {
                origins: [],
                songStatuses: [],
                selectedSong: { id: null, statusId: null },
                songs: [],
                currentTab: 'cn'
            }
        },
        methods: {
            save() {
                if (this.mode == 'create') {
                    var song;

                    if (this.currentTab == 'ae') {
                        song = this.selectedSong;
                        song.statusId = this.song.statusId;
                        song.originId = this.songs.find(s => s.id == this.selectedSong.id).originId;
                    } else if (this.currentTab == 'cn') {
                        song = this.song;
                    }

                    axios.post('songs/create.php', song)
                    .then(response => {
                        var result = response;
    
                        if (response != 0) {
                            axios.get('songs/read_single.php', {
                                params: {
                                    s2b_id: response.data,
                                    gigs: true
                                }
                            }).then(s => {
                                result = s.data;
                                this.$emit('create', result);
                            });
                        }
                    });
                } else if (this.mode == 'update') {
                    axios.put('songs/update.php', this.song)
                    .then(() => {
                        axios.get('songs/read_single.php', {
                            params: {
                                s2b_id: this.song.s2bId,
                                gigs: true
                            }
                        }).then(s => {
                            this.$emit('update', s.data);
                        });
                    })
                }
            },
            cancel() {
                this.$emit('cancel');
            }
        },
        computed: {
            buttonIsDisabled() {
                return  (
                            this.currentTab == 'cn'
                            &&
                            (
                                !this.song.name
                                ||
                                this.song.originId == null
                                ||
                                (this.song.minutes == null && this.song.seconds != null)
                                ||
                                (this.song.minutes != null && this.song.seconds == null)
                                ||
                                (this.song.minutes == 0 && this.song.seconds == 0)
                            )
                        )
                        ||
                        (this.currentTab == 'ae' && this.selectedSong.id == null)
                        ||
                        this.song.statusId == null;
            }
        },
        created() {
            axios.get('origins/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                this.origins = response.data;
            });
            
            axios.get('song_statuses/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                this.songStatuses = response.data;
            });

            axios.get('songs/read.php', {
                params: {
                    by_current_band: false
                }
            }).then(response => {
                this.songs = response.data;
            });
        }
    }
</script>

<style>
    .song-length {
        width: auto;
        min-width: 64px;
    }
</style>