<template>
    <main>
        <h1>
            Songs
            <a
                href="/songs/create"
                v-if="isAuth"
                @click.prevent="showCreateModal()">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h1>

        <div v-if="this.songs.length == 0">
            No songs to show. <a href="/songs/create" @click.prevent="showCreateModal()">Create</a> your first song.
        </div>

	    <controls
            v-if="songs.length > 0"
            :sortOrigin="sortOrigin"
            :sortStatus="sortStatus"
            :key="controlsKey"></controls>

        <grid
            @showUpdateModal="showUpdateModal($event)"
            @del="del($event)"
            :sortOrigin="sortOrigin"
            :sortStatus="sortStatus"
            :showGigs="showGigs"></grid>
        
        <modal
            v-if="showModal"
            :mode="mode"
            :song="songToEdit"
            @create="create($event)"
            @update="update($event)"
            @cancel="showModal = false;" />
    </main>
</template>

<script>
    import axios from 'axios';

    import { common } from '../../main';
    
    import controls from './controls.vue';
    import grid from './grid.vue';
    import modal from './modal.vue';

    export default {
        data () {
            return {
                sortOrigin: this.$route.params.sortOrigin != null ? this.$route.params.sortOrigin : 'any-origin',
                sortStatus: this.$route.params.sortStatus != null ? this.$route.params.sortStatus : 'any-status',
                showGigs: false,
                showModal: false,
                newSongResponse: {},
                isAuth: common.isAuth,
                songToEdit: {},
                mode: '',
                controlsKey: 0
            }
        },
        components: {
            controls,
            grid,
            modal
        },
        methods: {
            showCreateModal() {
                this.showModal = true;
                this.songToEdit = { id: null, originId: null, statusId: null, minutes: null, seconds: null };
                this.mode = 'create';
            },
            create(song) {
                if (song != 0) {
                    common.songs.push(song);
                    this.showModal = false;
                    this.controlsKey += 1;
                }
            },
            showUpdateModal(song) {
                this.showModal = true;
                this.songToEdit = JSON.parse(JSON.stringify(common.songs.find(s => s.id === song.id)));
                this.mode = 'update';
            },
            update(newSong) {
                var oldSong = common.songs.find(s => s.id === newSong.id);
                common.songs.splice(common.songs.indexOf(oldSong), 1, newSong);
                this.showModal = false;
            },
            del(song) {
                if (confirm("Are you sure?")) {
                    axios.delete('songs/delete.php', { data: song.id })
                    .then(response => {
                        common.songs.splice(common.songs.indexOf(song), 1);
                    })
                }
            }
        },
        watch: {
            '$route'(to, from) {
                this.sortOrigin = to.params.sortOrigin;
                this.sortStatus = to.params.sortStatus;
            }
        },
        created() {
            axios.get('songs/read.php', {
                params: {
                    gigs: true,
                    by_current_band: true
                }
            })
            .then(response => {
                common.songs = response.data;
            })
        },
        computed: {
            songs() {
                return common.songs;
            }
        }
    }
</script>

<style>
    h1 a {
        color: #ccc;
        text-decoration: none;
        font-size: 20px;
        margin-left: 1em;
    }

    h1 a:hover {
        color: #39f;
    }
</style>