<template>
    <div class="subcontrols-wrapper">
        <div class="subcontrols-backdrop" v-if="showLists" @click="showLists = false"></div>

        <div class="subcontrols-group">
            <div class="subcontrols">
                <span
                    v-if="lists.length > 3"
                    class="subcontrols-selected"
                    @click="showLists = !showLists">
                    {{ list.name }}</span>

                <div class="subcontrols-options" :class="{ open: showLists, dropdown: lists.length > 3 }">
                    <a
                        v-for="l in lists"
                        :key="l.id"
                        @click="$emit('changeList', l)"
                        class="nav-link subcontrols-option"
                        :class="{ active: l == list}">{{ l.name }}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { common } from '../../main';

    export default {
        props: [
            'list'
        ],
        data() {
            return {
                showLists: false
            }
        },
        computed: {
            lists() {
                return common.lists;
            }
        }
    }
</script>