<template>
    <div>
        <div v-if="list != null" class="list-actions">
            <a @click.prevent="showUpdateModal()" :href="'/lists/edit/' + list.id">edit this list</a><br>
            <a @click.prevent="del()" :href="'/lists/delete/' + list.id">delete this list</a><br>
            <a @click.prevent="copy()" :href="'/lists/copy/' + list.id">copy this list</a>
        </div>
        
        <table v-if="list != null && list.songs != null && list.songs.length > 0">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Length</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(song, i) in list.songs" :key="song.id">
                    <td>{{ i + 1 }}</td>
                    <!-- Name -->
                    <td>{{ song.name }}</td>

                    <!-- Length -->
                    <td>
                        <span v-if="song.totalLength">{{ song.minutes | lz }}:{{ song.seconds | lz }}</span>
                    </td>
                </tr>
            </tbody>
            <tfoot v-if="list.id != undefined" style="border-top: 2px #ccc solid;">
                <tr>
                    <td colspan="2"></td>
                    <td>{{ totalLength }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    import { common } from '../../main';

    export default {
        data() {
            return {
                isAuth: common.isAuth,
            }
        },
        props: [
            'list'
        ],
        methods: {
            showUpdateModal() {
                this.$emit('showUpdateModal', this.list);
            },
            del() {
                this.$emit('del', this.list);
            },
            copy() {
                var result = "";
                
                for (let i = 0; i < this.list.songs.length; i++) {
                    result += (i + 1) + ". " + this.list.songs[i].name + "\n\r";
                }
                
                this.copyToClipboard(result);
            },
            copyToClipboard(text) {
                var dummy = document.createElement("textarea");
                document.body.appendChild(dummy);
                dummy.setAttribute('value', text);
                dummy.select();
                document.execCommand("copy");
                document.body.removeChild(dummy);
            },
            moveSongUp(song) {
                var songPosition = this.list.songs.indexOf(song);

                if (songPosition != 0) {
                    this.list.songs[songPosition].index--;
                    this.list.songs[songPosition - 1].index++;
                }
                this.list.songs.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            },
            moveSongDown(song) {
                var songPosition = this.list.songs.indexOf(song);

                if (songPosition != this.list.songs.length - 1) {
                    this.list.songs[songPosition].index++;
                    this.list.songs[songPosition + 1].index--;
                }
                this.list.songs.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            }
        },
        computed: {
            totalLength() {
                var total = 0;
                this.list.songs.forEach(song => {
                    total += song.totalLength;
                });

                var hours = Math.floor(total / 3600);
                var mins = Math.floor(total / 60) - hours * 60;
                var secs = total - mins * 60 - hours * 3600;

                return this.$options.filters.lz(hours) + ":" + this.$options.filters.lz(mins) + ":" + this.$options.filters.lz(secs);
            }
        },
        filters: {
            lz(num) {
                return (num >= 10 ? num : "0" + num);
            }
        }
    }
</script>

<style>
    span.status {
        padding: 4px 6px;
        border-radius: 4px;
        font-size: 14px;
        display: inline;
    }
</style>