<template>
    <main>
        <h1>
            Lists
            <a
                href="/lists/add"
                v-if="isAuth"
                @click.prevent="showCreateModal()">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h1>

	    <controls
            :list="selectedList"
            @changeList="changeList($event)"></controls>

        <grid
            :list="selectedList"
            @showUpdateModal="showUpdateModal($event)"
            @del="del($event)"></grid>

        <modal
            v-if="showModal"
            :list="listToEdit"
            @create="create($event)"
            @update="update($event)"
            @cancel="showModal = false;" />
    </main>
</template>

<script>
    import axios from 'axios';
    import { common } from '../../main';
    
    import controls from './controls.vue';
    import grid from './grid.vue';
    import modal from './modal.vue';

    export default {
        data () {
            return {
                showModal: false,
                isAuth: common.isAuth,
                listToEdit: {},
                selectedList: {}
            }
        },
        components: {
            controls,
            grid,
            modal
        },
        methods: {
            showCreateModal() {
                this.showModal = true;
                this.listToEdit = {};
                this.$set(this.listToEdit, 'songs', []);
            },
            create(list) {
                if (list != 0) {
                    common.lists.push(list);
                    this.showModal = false;
                    this.selectedList = list;
                }
            },
            showUpdateModal(list) {
                this.showModal = true;
                this.listToEdit = JSON.parse(JSON.stringify(common.lists.find(l => l.id === list.id)));
            },
            update(newList) {
                var oldList = common.lists.find(s => s.id === newList.id);
                common.lists.splice(common.lists.indexOf(oldList), 1, newList);
                this.showModal = false;
                this.selectedList = newList;
            },
            del(list) {
                if (confirm("Are you sure?")) {
                    axios.delete('lists/delete.php', { data: list })
                    .then(response => {
                        common.lists.splice(common.lists.indexOf(list), 1);
                        this.selectedList = common.lists[0];
                    })
                }
            },
            changeList(list) {
                this.selectedList = list;
            }
        },
        computed: {
            lists() {
                return common.lists;
            }
        },
        created() {
            axios.get('lists/read.php')
            .then(response => {
                common.lists = response.data;
                this.selectedList = common.lists[0];
            });
        }
    }
</script>

<style>
    h1 a {
        color: #ccc;
        text-decoration: none;
        font-size: 20px;
        margin-left: 1em;
    }

    h1 a:hover {
        color: #39f;
    }
</style>