<template>
    <div class="modal-wrapper" @click="$emit('cancel')">
        <div class="modal" @click.stop>

            <!-- Modal content-->
            <div class="modal-content">
                <input type="text" v-model="list.name">
                
                <!-- Songs -->
                <div>
                    <div v-for="(song, i) in list.songs" :key="song.id + '-' + song.index + '-' + i" v-show="!song.delete">
                        <div v-if="!song.edit" class="modal-list-item-show">
                            <span>
                                {{ song.index }}.&nbsp;
                                <span>{{ song.name }}</span>
                            </span>

                            <i class="fas fa-arrow-alt-circle-up" :class="{ disabled: song.index == 1 }" @click="moveSongUp(song)"></i>
                            <i class="fas fa-arrow-alt-circle-down" :class="{ disabled: song.index == notDeletedSongs.length }" @click="moveSongUp(song)"></i>
                            <i class="fas fa-edit" v-if="!song.edit" @click="song.edit = true"></i>
                            <i class="fas fa-trash-alt" @click="deleteSong(song)"></i>
                        </div>

                        <fieldset v-else class="modal-list-item-edit">
                            <legend v-if="!song.added">Add Song</legend>
                            <legend v-else>Edit Song {{ song.index }} </legend>

                            <p>
                                <label>Select Song</label>
                                <select v-model="song.id" required :class="{ 'placeholder-color': song.id == null }">
                                    <option v-if="song.id == null" :value="null">--- Select ---</option>
                                    <option v-for="s in songs" :value="s.id" :key="s.id">{{ s.name }}</option>
                                </select>
                            </p>
                                
                            <button class="normal" @click="saveSong(song)" style="margin-top: 2em;">Done</button>
                            <button class="cancel" @click="cancelSong(song)" style="margin-top: 2em;">Cancel</button>
                        </fieldset>
                    </div>
                    <button class="normal" @click="addSong()">Add New Song</button>
                </div>
            </div>
            <div id="modal-buttons-wrapper">
                <button type="button" class="normal" @click="save()">{{ this.list.id != null ? 'Save' : 'Create' }}</button>
                <button type="button" class="cancel" @click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    
    export default {
        props: [
            'list'
        ],
        data() {
            return {
                songs: []
            }
        },
        methods: {
            save() {
                if (this.list.id != null) {
                    axios.put('lists/update.php', this.list)
                    .then(() => {
                        axios.get('lists/read_single.php', {
                            params: {
                                id: this.list.id,
                            }
                        }).then(l => {
                            this.$emit('update', l.data);
                        });
                    })
                } else {
                    axios.post('lists/create.php', this.list)
                    .then(response => {
                        var result = response;
    
                        if (response != 0) {
                            axios.get('lists/read_single.php', {
                                params: {
                                    id: response.data
                                }
                            }).then(l => {
                                result = l.data;
                                this.$emit('create', result);
                            });
                        }
                    })
                }
            },
            cancel() {
                this.$emit('cancel');
            },
            addSong() {
                this.list.songs.push({
                    id: null,
                    index: this.notDeletedSongs.length + 1,
                    variationId: null,
                    delete: false,
                    edit: true,
                    added: false
                })
            },
            saveSong(song) {
                song.added = true;
                song.edit = false;

                song.name = this.songs.find(s => s.id == song.id).name;
            },
            cancelSong(song) {
                if (!song.added) {
                    this.deleteSong(song);
                } else {
                    song.edit = false;
                }
            },
            moveSongUp(song) {
                var songPosition = this.notDeletedSongs.indexOf(song);

                if (songPosition != 0) {
                    this.notDeletedSongs[songPosition].index--;
                    this.notDeletedSongs[songPosition - 1].index++;
                }
                this.list.songs.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            },
            moveSongDown(song) {
                var songPosition = this.notDeletedSongs.indexOf(song);

                if (songPosition != this.notDeletedSongs.length - 1) {
                    this.notDeletedSongs[songPosition].index++;
                    this.notDeletedSongs[songPosition + 1].index--;
                }
                this.list.songs.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            },
            deleteSong(song) {
                song.delete = true;
                this.list.songs.forEach(s => {
                    if (s.index > song.index) {
                        s.index--;
                    }
                });
            }
        },
        computed: {
            notDeletedSongs() {
                return this.list.songs.filter(song => {
                    return !song.delete;
                })
            }
        },
        created() {
            axios.get('songs/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                this.songs = response.data;
            });
        }
    }
</script>