<template>
    <footer class="app-footer">
        &copy; Copyright {{ year }} GZM Arts
    </footer>
</template>

<script>
    const currentYear = new Date().getFullYear();
    export default {
        data () {
            return {
                year: (currentYear == 2018 ? '' : '2018–') + currentYear
            }
        }
    }
</script>

<style scoped>
    @media (prefers-color-scheme: dark) {
        footer.app-footer {
            background: #2c2c2c;
        }
    }
</style>