<template>
    <header class="app-header">
        <h1 v-if="!isAuth" class="main-title">MyBandInfo</h1>
        <nav v-if="isAuth">
            <ul class="nav nav-pills">
                <li class="nav-item"><router-link class="nav-link" to="/members">Members</router-link></li>
                <li class="nav-item" v-if="isAuth"><router-link class="nav-link" to="/roles">Roles</router-link></li>
                <li class="nav-item" v-if="isAuth"><router-link class="nav-link" to="/songs">Songs</router-link></li>
                <li class="nav-item" v-if="isAuth"><router-link class="nav-link" to="/origins">Origins</router-link></li>
                <li class="nav-item" v-if="isAuth"><router-link class="nav-link" to="/song_statuses">Song Statuses</router-link></li>
                <li class="nav-item" v-if="isAuth"><router-link class="nav-link" to="/song_name_variations">Song Name Variations</router-link></li>
                <li class="nav-item"><router-link class="nav-link" to="/gigs">Gigs</router-link></li>
                <li class="nav-item" v-if="isAuth"><router-link class="nav-link" to="/locations">Locations</router-link></li>
                <li class="nav-item"><router-link class="nav-link" to="/venues">Venues</router-link></li>
                <li class="nav-item" v-if="isAuth"><router-link class="nav-link" to="/lists">Lists</router-link></li>
            </ul>
        </nav>
        <div class="user" v-if="isAuth">
            <img class="user-img" src="https://www.birenbergg.com/images/genchik.jpg">
            <div class="user-menu" v-if="userMenuShown">
                <ul class="user-menu-ul">
                    <li class="user-menu-li">Settings</li>
                    <li class="divider"></li>
                    <ul v-if="this.bands.length > 1" style="list-style: none;">
                        <li class="user-menu-li section-title">Switch Band</li>
                        <li class="user-menu-li" :class="{ active: b.id == bandId }" v-for="b in bands" :key="b.id" @click="switchBand(b.id)">
                            <img class="user-menu-img" :src="'/src/assets/img/' + b.imageName"  @error="imageUrlAlt()" :alt="b.name">
                            {{ b.name }}
                        </li>
                        <li class="divider"></li>
                    </ul>
                    <li class="user-menu-li user-menu-li-logout"><a href="/logout" class="user-menu-a-logout" @click.prevent="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
</template>

<script>
    import axios from 'axios';
    import { common } from '../../main';

    export default {
        props: {
            userMenuShown: {
                required: true
            }
        },
        data () {
            return {
                isAuth: common.isAuth,
                bandId: common.bandId,
                bands: []
            }
        },
        methods: {
            logout() {
                $cookies.remove('logged_in');
                this.$router.push('/');
                location.reload(true);
            },
            switchBand(id) {
                $cookies.set('band_id', id);
                common.bandId = id;
                location.reload(true);
            },
            imageUrlAlt() {
                event.target.src = "";
            }
        },
        created() {
            axios.get('bands/read.php')
            .then(response => {
                this.bands = response.data;
                common.bands = this.bands;
            })
        }
    }
</script>

<style scoped>
    .main-title {
        font-family: 'Special Elite';
    }
    ul.nav-pills {
        list-style: none;
        display: flex;
    }
    li.nav-item {
        margin: 0 1em;
    }
    .nav-item a {
        padding: .75em;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 400;
        color: #444;
    }
    .nav-item a:hover {
        background: #ddd;
    }
    a.router-link-active {
        background: #999;
        color: #fff;
        cursor: default;
    }

    .app-header {
        display: flex;
        padding: 20px;
    }

    .user {
        margin-left: auto;
    }

    .user-img {
        width: 70px;
        border: 1px #ccc solid;
        border-radius: 50%;
        cursor: pointer;
    }

    .user-menu {
        background: #fff;
        box-shadow: 0px 4px 10px 2px #0003;
        border-radius: 6px;
        position: absolute;
        right: 20px;
        z-index: 50;
        margin-top: 10px;
    }

    .user-menu-ul {
        list-style: none;
    }

    .user-menu-li {
        margin: 0;
        white-space: nowrap;
        padding: 14px 20px;
        color: #444;
        cursor: pointer;

        padding: 14px 36px 14px 14px;
        text-indent: 20px;

        display: flex;
        align-items: center;
    }

    .user-menu-img {
        width: 50px;
        margin-left: 20px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .user-menu-li-logout {
        padding: 0;
    }

    .user-menu-a-logout {
        padding: 14px 20px;
        display: block;
        text-decoration: none;
        color: #444;
        width: 100%;
    }

    .user-menu-li.active {
        background: #fff url('../../assets/img/tick.svg') no-repeat left 10px center;
        background-size: 14px;
    }

    .user-menu-li.active:hover {
        background: #ccc url('../../assets/img/tick.svg') no-repeat left 10px center;
        background-size: 14px;
    }

    .user-menu-li:hover {
        background: #ccc;
    }

    .user-menu-li:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .user-menu-li:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .section-title {
        color: #999;
        font-size: 12px;
        padding-bottom: 10px;
    }

    .section-title:hover {
        cursor: default;
        background: transparent;
    }

    .divider {
        padding: 0;
        border-bottom: #ccc 1px solid;
    }

    @media (prefers-color-scheme: dark) {
        header.app-header, footer.app-footer {
            background: #2c2c2c;
        }
        .nav-item a {
            color: #ccc;
        }
        .nav-item a:hover {
            background: #222;
        }
        .nav-item a.router-link-active {
            background: #444;
        }

        .user-menu {
            background: #333;
        }

        .user-menu-li,
        .user-menu-li a {
            color: #ccc;
        }

        /* .user-menu-li, */
        .user-menu-li:hover {
            background: #222;
            color: #ccc;
        }

        .user-menu-li.active {
            background: #333 url('../../assets/img/tick-dark.svg') no-repeat left 10px center;
            background-size: 14px;
        }

        .user-menu-li.active:hover {
            background: #222 url('../../assets/img/tick-dark.svg') no-repeat left 10px center;
            background-size: 14px;
        }

        .divider {
            border-color: #666
        }

        .section-title,
        .section-title:hover {
            color: #666;
            background: #333;
        }
    }
</style>