<template>
    <main>
        <form class="login-form" @submit.prevent="login()">
            <p>
                <label for="login-username">Username</label>
                <input type="text" name="username" id="login-username" v-model="user.name" />
            </p>
            <p>
                <label for="login-password">Password</label>
                <input type="password" name="password" id="login-password" v-model="user.password" />
            </p>
            <input class="button button-normal" :disabled="!user.name || !user.password"  type="submit" name="submit" value="Submit" />

            <div class="message">{{ message }}</div>
        </form>
    </main>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                user: {
                    name: "",
                    password: ""
                },
                message: ''
            }
        },
        methods: {
            login() {
                this.message = '';
                
                axios.post('auth/login.php', { username: this.user.name, password: this.user.password })
                .then(response => {
                    
                    if (response.data == 'success') {
                        location.reload(true);
                    } else if (response.data == 'password error') {
                        this.message = 'Wrong password.';
                    } else if (response.data == 'user not found') {
                        this.message = 'User not found.';
                    } else {
                        this.message = 'Unknown error. Please contact the administrator.';
                    }
                })
            }
        }
    }
</script>

<style scoped>
    .login-form {
        max-width: 600px;
        margin: 0 auto;
    }

    .button {
      margin-bottom: 2rem;
    }

    .button:disabled {
        background: #ccc;
        cursor: default;
    }

    .message {
        color: red;
    }

    @media (prefers-color-scheme: dark) {
        .button:disabled {
            background: #444;
            color: #666;
            cursor: default;
        }
    }
</style>
