<template>
    <table v-if="members.length > 0">
        <thead>
            <tr>
                <th v-show="sortStatus != 'current'">Status</th>
                <th>Name</th>
                <th>Joined</th>
                <th v-show="sortStatus != 'current'">Left</th>
                <th>Total in Band</th>
                <th>Roles</th>
                <th v-if="isAuth"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="member in members" :key="member.id" v-show="(new Date(member.dateJoined)).getTime() < currentDate.getTime() || isAuth">
                <!-- Status -->
                <td v-show="sortStatus != 'current'">
                    <div class="status">
                        <span class="indicator" :class="{ online: member.isCurrent, offline: !member.isCurrent, substitute: member.isGuest }"></span>
                        
                        <span v-show="member.isCurrent">current member</span>
                        <span v-show="!member.isCurrent && !member.isGuest">former member</span>
                        <span v-show="!member.isCurrent && member.isGuest">guest musician</span>
                    </div>
                </td>

                <!-- Name -->
                <td>
                    <div class="status">
                        <img class="avatar" v-if="member.fbId == null" :src="baseUrl + '/../src/assets/img/default.jpg'" :alt="member.firstName + ' ' + member.lastName" :title="member.firstName + ' ' + member.lastName">
                        <img class="avatar" v-if="member.fbId != null" :src="'//graph.facebook.com/' + member.fbId + '/picture?type=large'" :alt="member.firstName + ' ' + member.lastName" :title="member.firstName + ' ' + member.lastName">
                        {{ member.firstName }} {{ member.lastName }}
                    </div>
                </td>

                <!-- Date joined -->
                <td><span v-if="!member.isGuest">{{ member.dateJoined != null ? member.dateJoined : member.approxDate | humanize }}</span></td>
                
                <!-- Date left -->
                <td v-show="sortStatus != 'current'"><span v-if="!member.isGuest">{{ member.dateLeft | humanize }}</span></td>
                
                <!-- Total in band -->
                <td><span v-if="!member.isGuest">{{ member | countTotalTime | humanizeDateRange }}</span></td>
                
                <!-- Roles -->
                <td>
                    <span v-for="(role, i) in member.uniqueRoles" :key="role.id + '-' + i">
                        {{ role | toLower }}{{ commaSeparated(i, member.uniqueRoles) }}
                    </span>
                </td>
                <!-- Actions -->
                <td class="actions" v-if="isAuth">
                    <a @click.prevent="showUpdateModal(member)" :href="'/members/edit/' + member.id" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a @click.prevent="del(member)" :href="'/members/delete/' + member.id" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import { common } from '../../main';
    
    export default {
        data() {
            return {
                currentDate: new Date(),
                isAuth: common.isAuth,
                baseUrl: ''
            }
        },
        created() {
            this.baseUrl = common.baseUrl;
        },
        props: [
            'members',
            'sortStatus',
            'sortRole'
        ],
        methods: {
            commaSeparated(i, array) {
                if (i < array.length - 1 || i < Object.keys(array).length - 1) return ', ';
                return '';
            },
            showUpdateModal(member) {
                this.$emit('showUpdateMemberModal', member);
            },
            del(member) {
                this.$emit('del', member);
            }
        },
        filters: {
            countTotalTime(member) {
                var totalTime = 0;

                member.roles.forEach(role => {
                    if (role.level == 0) {
                        let startDate = new Date(role.started).getTime();
                        let endDate = new Date(role.ended == null ? new Date() : role.ended).getTime();

                        totalTime += (endDate - startDate);
                    }
                });

                return totalTime + 1000 * 60 * 60 * 24; // Add one day
            },
            humanizeDateRange(dateRange) {
                
                let totalDays = Math.ceil(dateRange / 1000 / 60 / 60 / 24);
                let totalMonths = Math.floor(totalDays / 30.436875);
                let totalYears = Math.floor(totalMonths / 12);

                let totalMonthsRemainder = totalMonths % 12;
                let isMonthsRemainderZero = totalMonths % 12 === 0;

                if (totalMonths > 12) {
                    let yearsNumberWord = ' year' + (totalYears !== 1 ? 's' : '');
                    let monthsNumberWord = ' month' + ((totalMonths % 12 !== 1) ? 's' : '');
                    return totalYears + yearsNumberWord + (!isMonthsRemainderZero ? ', ' + totalMonthsRemainder + monthsNumberWord : '');
                } else if (totalDays > 30) {
                    return totalMonths + ' month' + (totalMonths !== 1 ? 's' : '');
                } else {
                    return totalDays + ' day' + (totalDays !== 1 ? 's' : '');
                }
            }
        }
    }
</script>

<style scoped>
    .indicator {
        display: inline-block;
        border-radius: 50%;
        width: .75em;
        height: .75em;
        margin-right: .5em;
        background: #999;
    }

    .online {
        background: limegreen;
    }

    .substitute {
        background: orange !important;
    }

    img.avatar {
        height: 50px;
        border-radius: 50%;
        margin-right: 1em;
    }
</style>