<template>
    <div class="modal-wrapper" @click="$emit('cancel')">
        <div class="modal" @click.stop>

            <header class="modal-header">
                <h2 class="modal-h2">
                    <span v-if="memberMode == 'createMember' && currentTab == 'cn'">Create New Member</span>
                    <span v-if="memberMode == 'createMember' && currentTab == 'ae'">Add Existing Member</span>
                    
                    <span v-if="memberMode == 'updateMember'">Update Member</span>
                </h2>
                <div v-if="memberMode == 'createMember' && members.length > 0" class="header-button-container">
                    <span @click="currentTab = 'cn'" class="header-button" :class="{ 'selected': currentTab == 'cn' }">Create New</span>
                    <span @click="currentTab = 'ae'" class="header-button" :class="{ 'selected': currentTab == 'ae' }">Add Existing</span>
                </div>
            </header>

            <!-- Modal content-->
            <main class="modal-content">

                <!-- Create New -->
                <div id="cn-tab" v-if="currentTab == 'cn'">
                    <p>
                        <label>First Name</label>
                        <input type="text" v-model="member.firstName" required placeholder="For example: 'Guybrush'">
                    </p>

                    <p>
                        <label>Last Name</label>
                        <input type="text" v-model="member.lastName" required placeholder="For example: 'Threepwood'">
                    </p>

                    <p>
                        <label>
                            Facebook ID
                            <span class="optional-label">
                                Optional, for image
                            </span>
                        </label>
                        <input type="text" v-model="member.fbId" placeholder="For example: '123456789101112'">
                    </p>
                </div>

                <!-- Add Existing -->
                <div id="ae-tab" v-if="currentTab == 'ae'">
                    <label>Existing Member</label>

                    <select id="member-id" v-model="selectedMember.id" required :class="{ 'placeholder-color': selectedMember.id == null }">
                        <option v-if="selectedMember.id == null" :value="null">--- Select ---</option>
                        <option v-for="m in members" :value="m.id" :key="m.id">{{ m.firstName }} {{ m.lastName }}</option>
                    </select>
                </div>

                <p>
                    <label>Guest</label>
                    <input type="checkbox" class="toggle-switch" v-model="member.isGuest">
                </p>

                <!-- Roles -->
                <fieldset>
                    <legend>Roles</legend>
                    <table class="modal-table" v-if="notDeletedRoles.length > 0">
                        <thead>
                        </thead>
                        <tbody>
                            <tr v-for="role in member.roles" :key="role.r2bId" v-show="!role.delete" class="modal-tr">
                                <td class="modal-td">
                                    {{ role.index }}.&nbsp;
                                    <span>{{ role.name }}</span>
                                </td>
                                <td class="modal-td">
                                    <span
                                        class="stem-sample"
                                        :class="{
                                            'stem-sample-level-1': role.level == 1,
                                            'stem-sample-level-2': role.level == 2,
                                            'stem-sample-level-3': role.level == 3
                                        }"
                                        :style="{ background: role.color }"></span>
                                </td>
                                <td class="modal-td">
                                    <span>{{ dates(role) }}</span>
                                </td>
                                <td class="modal-td">
                                    <i class="fas fa-arrow-alt-circle-up" :class="{ disabled: role.index == 1 }" @click="moveRoleUp(role)" v-show="notDeletedRoles.length > 1"></i>
                                    <i class="fas fa-arrow-alt-circle-down" :class="{ disabled: role.index == notDeletedRoles.length }" v-show="notDeletedRoles.length > 1" @click="moveRoleDown(role)"></i>
                                    <i class="fas fa-edit" @click="showUpdateRoleModal(role)"></i>
                                    <i class="fas fa-trash-alt" @click="deleteRole(role)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="button normal" @click.prevent="showCreateRoleModal()">Add New Role</button>
                </fieldset>
            </main>

            <footer class="modal-footer" id="modal-buttons-wrapper">
                <button
                    type="button"
                    class="button normal"
                    :disabled="buttonIsDisabled"
                    @click="save()">
                        {{
                            this.memberMode == 'updateMember' ? 'Save' : currentTab == 'ae' ? 'Add' : 'Create'
                        }}
                </button>
                <button type="button" class="button cancel" @click="cancel()">Cancel</button>
            </footer>
        </div>

        <role-modal
            v-if="showRoleModal"
            :roleMode="roleMode"
            :role="roleToEdit"
            @createRole="createRole($event)"
            @updateRole="updateRole($event)"
            @cancel="showRoleModal = false;" />
    </div>
</template>

<script>
    import axios from 'axios';

    import { common } from '../../main';

    import roleModal from './role-modal.vue';
    
    export default {
        props: [
            'member',
            'memberMode'
        ],
        data() {
            return {
                roles: [],
                selectedMember: { id: null, m2bId: null, roles: [] },
                showRoleModal: false,
                members: [],
                currentTab: 'cn',
                roleToEdit: {},
                roleMode: ''
            }
        },
        methods: {
            save() {
                if (this.memberMode == 'createMember') {
                    var mem;

                    if (this.currentTab == 'ae') {
                        mem = this.selectedMember;
                        mem.roles = this.member.roles;
                        mem.isGuest = this.member.isGuest;
                    } else if (this.currentTab == 'cn') {
                        mem = this.member;
                    }

                    axios.post('members/create.php', mem)
                    .then(response => {
                        if (response != 0) {
                            axios.get('members/read_single.php', {
                                params: {
                                    m2b_id: response.data
                                }
                            }).then(m => {
                                this.$emit('createMember', m.data);
                            });
                        }
                    })
                } else if (this.memberMode == 'updateMember') {

                    axios.put('members/update.php', this.member)
                    .then(() => {
                        axios.get('members/read_single.php', {
                            params: {
                                m2b_id: this.member.m2bId
                            }
                        }).then(m => {
                            this.$emit('updateMember', m.data);
                        });
                    })
                }
            },
            cancel() {
                this.$emit('cancel');
            },
            createRole(role) {
                role.index = this.notDeletedRoles.length + 1;
                role.name = common.roles.find(r => r.r2bId == role.r2bId).name;

                this.member.roles.push(role);

                this.showRoleModal = false;
            },
            updateRole(newRole) {
                newRole.added = true;
                newRole.edit = false;
                newRole.delete = false;
                newRole.name = common.roles.find(r => r.r2bId == newRole.r2bId).name;

                var oldRole = this.member.roles.find(r => r.index === newRole.index);
                this.member.roles.splice(this.member.roles.indexOf(oldRole), 1, newRole);

                this.showRoleModal = false;
            },
            cancelRole(role) {
                if (!role.added) {
                    this.deleteRole(role);
                } else {
                    role.edit = false;
                }
            },
            moveRoleUp(role) {
                var rolePosition = this.notDeletedRoles.indexOf(role);

                if (rolePosition != 0) {
                    this.notDeletedRoles[rolePosition].index--;
                    this.notDeletedRoles[rolePosition - 1].index++;
                }
                this.member.roles.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            },
            moveRoleDown(role) {
                var rolePosition = this.notDeletedRoles.indexOf(role);

                if (rolePosition != this.notDeletedRoles.length - 1) {
                    this.notDeletedRoles[rolePosition].index++;
                    this.notDeletedRoles[rolePosition + 1].index--;
                }
                this.member.roles.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            },
            deleteRole(role) {
                role.delete = true;
                this.member.roles.forEach(r => {
                    if (r.index > role.index) {
                        r.index--;
                    }
                });
            },
            showCreateRoleModal() {
                this.roleMode = 'createRole';
                this.roleToEdit = { id: null, r2bId: null, delete: false, level: 0 };
                this.showRoleModal = true;
            },
            showUpdateRoleModal(role) {
                this.roleMode = 'updateRole';
                this.roleToEdit = JSON.parse(JSON.stringify(this.member.roles.find(r => r.linkingId === role.linkingId && r.index === role.index)));
                this.showRoleModal = true;
            },
            dates(role) {
                var result = '';

                if (role.ended == null) {
                    result = 'Since ' + this.$options.filters.humanize(role.started);
                } else if (role.started == role.ended) {
                    result = this.$options.filters.humanize(role.started);
                } else {
                    result = this.$options.filters.humanize(role.started) + ' – ' + this.$options.filters.humanize(role.ended);
                }

                return result;
            }
        },
        computed: {
            notDeletedRoles() {
                return this.member.roles.filter(role => {
                    return !role.delete;
                })
            },
            buttonIsDisabled() {
                return  (this.currentTab == 'cn' && (!this.member.firstName || !this.member.lastName))
                        ||
                        (this.currentTab == 'ae' && this.selectedMember.id == null)
                        ||
                        this.notDeletedRoles.length == 0;
            }
        },
        components: {
            roleModal
        },
        created() {
            axios.get('members/read.php', {
                params: {
                    by_current_band: false
                }
            }).then(response => {
                this.members = response.data;
            });
        }
    }
</script>

<style scoped>
    .modal-table {
        margin-top: 0;
        margin-bottom: 32px;
    }

    .modal-td {
        vertical-align: middle;
        border: none;
    }

    .stem-sample {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: 0;
    }

    .stem-sample-level-1 {
        height: 8px;
        margin: 12px 0;
    }

    .stem-sample-level-2 {
        height: 16px;
        margin: 8px 0;
    }

    .stem-sample-level-3 {
        height: 24px;
        margin: 4px 0;
    }
</style>