<template>
    <main class="modal-content">

        <!-- Create New -->
        <div id="cn-tab" v-if="currentTab == 'cn'">
            <p>
                <label>First Name</label>
                <input type="text" v-model="member.firstName" required placeholder="For example: 'Guybrush'">
            </p>

            <p>
                <label>Last Name</label>
                <input type="text" v-model="member.lastName" required placeholder="For example: 'Threepwood'">
            </p>

            <p>
                <label>Facebook ID (Optional, for image)</label>
                <input type="text" v-model="member.fbId" placeholder="For example: '123456789101112'">
            </p>
        </div>

        <!-- Add Existing -->
        <div id="ae-tab" v-if="currentTab == 'ae'">
            <label>Existing Member</label>

            <select id="member-id" v-model="selectedMember.id" required :class="{ 'placeholder-color': selectedMember.id == null }">
                <option v-if="selectedMember.id == null" :value="null">--- Select ---</option>
                <option v-for="m in members" :value="m.id" :key="m.id">{{ m.firstName }} {{ m.lastName }}</option>
            </select>
        </div>

        <p>
            <label>Guest</label>
            <input type="checkbox" class="toggle-switch" v-model="member.isGuest">
        </p>

        <!-- Roles -->
        <fieldset>
            <legend>Roles</legend>
            <div class="modal-list" v-show="notDeletedRoles.length > 0">
                <div v-for="role in member.roles" :key="role.r2bId" v-show="!role.delete" class="modal-list-item">

                    <div class="modal-list-item-show">
                        <span>
                            {{ role.index }}.&nbsp;
                            <span>{{ role.name }}</span>
                        </span>

                        <i class="fas fa-arrow-alt-circle-up" :class="{ disabled: role.index == 1 }" @click="moveRoleUp(role)" v-show="notDeletedRoles.length > 1"></i>
                        <i class="fas fa-arrow-alt-circle-down" :class="{ disabled: role.index == notDeletedRoles.length }" v-show="notDeletedRoles.length > 1" @click="moveRoleDown(role)"></i>
                        <i class="fas fa-edit" @click="showUpdateRoleModal(role)"></i>
                        <i class="fas fa-trash-alt" @click="deleteRole(role)"></i>
                    </div>
                </div>
            </div>
            <button class="normal" @click.prevent="showCreateRoleModal()">Add New Role</button>
        </fieldset>
    </main>
</template>

<script>
    import axios from 'axios';

    import { common } from '../../main';

    import roleModal from './role-modal.vue';
    
    export default {
        props: [
            'member',
            'memberMode'
        ],
        data() {
            return {
                roles: [],
                selectedMember: { id: null, m2bId: null, roles: [] },
                showRoleModal: false,
                members: [],
                currentTab: 'cn',
                roleToEdit: {},
                roleMode: ''
            }
        },
        methods: {
            save() {
                if (this.memberMode == 'createMember') {
                    var mem;

                    if (this.currentTab == 'ae') {
                        mem = this.selectedMember;
                        mem.roles = this.member.roles;
                        mem.isGuest = this.member.isGuest;
                    } else if (this.currentTab == 'cn') {
                        mem = this.member;
                    }

                    axios.post('members/create.php', mem)
                    .then(response => {
                        if (response != 0) {
                            axios.get('members/read_single.php', {
                                params: {
                                    m2b_id: response.data
                                }
                            }).then(m => {
                                this.$emit('createMember', m.data);
                            });
                        }
                    })
                } else if (this.memberMode == 'updateMember') {

                    axios.put('members/update.php', this.member)
                    .then(() => {
                        axios.get('members/read_single.php', {
                            params: {
                                m2b_id: this.member.m2bId
                            }
                        }).then(m => {
                            this.$emit('updateMember', m.data);
                        });
                    })
                }
            },
            cancel() {
                this.$emit('cancel');
            },
            createRole(role) {
                role.index = this.notDeletedRoles.length + 1;
                role.name = common.roles.find(r => r.r2bId == role.r2bId).name;

                this.member.roles.push(role);

                this.showRoleModal = false;
            },
            updateRole(newRole) {
                newRole.added = true;
                newRole.edit = false;
                newRole.delete = false;
                newRole.name = common.roles.find(r => r.r2bId == newRole.r2bId).name;

                var oldRole = this.member.roles.find(r => r.index === newRole.index);
                this.member.roles.splice(this.member.roles.indexOf(oldRole), 1, newRole);

                this.showRoleModal = false;
            },
            cancelRole(role) {
                if (!role.added) {
                    this.deleteRole(role);
                } else {
                    role.edit = false;
                }
            },
            moveRoleUp(role) {
                var rolePosition = this.notDeletedRoles.indexOf(role);

                if (rolePosition != 0) {
                    this.notDeletedRoles[rolePosition].index--;
                    this.notDeletedRoles[rolePosition - 1].index++;
                }
                this.member.roles.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            },
            moveRoleDown(role) {
                var rolePosition = this.notDeletedRoles.indexOf(role);

                if (rolePosition != this.notDeletedRoles.length - 1) {
                    this.notDeletedRoles[rolePosition].index++;
                    this.notDeletedRoles[rolePosition + 1].index--;
                }
                this.member.roles.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            },
            deleteRole(role) {
                role.delete = true;
                this.member.roles.forEach(r => {
                    if (r.index > role.index) {
                        r.index--;
                    }
                });
            },
            showCreateRoleModal() {
                this.roleMode = 'createRole';
                this.roleToEdit = { id: null, r2bId: null, delete: false };
                this.showRoleModal = true;
            },
            showUpdateRoleModal(role) {
                this.roleMode = 'updateRole';
                this.roleToEdit = JSON.parse(JSON.stringify(this.member.roles.find(r => r.linkingId === role.linkingId && r.index === role.index)));
                this.showRoleModal = true;
            }
        },
        computed: {
            notDeletedRoles() {
                return this.member.roles.filter(role => {
                    return !role.delete;
                })
            }
        },
        components: {
            roleModal
        },
        created() {
            axios.get('members/read.php', {
                params: {
                    by_current_band: false
                }
            }).then(response => {
                this.members = response.data;
            });
        }
    }
</script>