<template>
    <main>
        <h1>
            Members
            <a
                href="/members/create"
                v-if="isAuth"
                @click.prevent="showCreateMemberModal()">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h1>

        <div v-if="this.allMembers.length == 0">
            No members to show. <a href="/members/create" @click.prevent="showCreateMemberModal()">Create</a> your first member.
        </div>

        <div class="subcontrols-wrapper" v-if="this.allMembers.length > 0">
            <div class="subcontrols-backdrop" v-if="showRoles" @click="showRoles = false"></div>

            <div class="subcontrols-group" v-if="this.currentMembers.length > 0">
                <h5>Members:</h5>

                <div class="subcontrols">
                    <div class="subcontrols-options">
                        <router-link
                            class="nav-link subcontrols-option"
                            :to="routerLink('current', sortRole, selectedComponent)"
                            :class="{ active: sortStatus == 'current' }">current</router-link>
                        <router-link
                            class="nav-link subcontrols-option"
                            :to="routerLink('all', sortRole, selectedComponent)"
                            :class="{ active: sortStatus == 'all' }">all</router-link>
                    </div>
                </div>
            </div>

            <div class="subcontrols-group">
                <h5>Filter by role:</h5>

                <div class="subcontrols">
                    <span
                        v-if="roles.length > 3"
                        class="subcontrols-selected"
                        @click="showRoles = !showRoles">
                        {{ sortRole == 'any-role' ? 'All' : roles.find(r => r.slug == sortRole).name }}</span>

                    <div class="subcontrols-options" :class="{ open: showRoles, dropdown: roles.length > 3 }">
                        <router-link
                            @click.native="showRoles = false"
                            class="nav-link subcontrols-option"
                            :to="routerLink(sortStatus, 'any-role', selectedComponent)"
                            :class="{ active: sortRole == 'any-role' }">All</router-link>

                        <router-link
                            @click.native="showRoles = false"
                            v-for="role in dropDownRoles"
                            :key="role.id"
                            class="nav-link subcontrols-option"
                            :to="routerLink(sortStatus, role.slug, selectedComponent)"
                            :class="{ active: sortRole == role.slug }">{{ role.name }}</router-link>
                    </div>
                </div>
            </div>

            <div class="subcontrols-group">
                <h5>Display:</h5>
                <div class="subcontrols">
                    <div class="subcontrols-options">
                        <router-link
                            class="nav-link subcontrols-option"
                            :to="routerLink(sortStatus, sortRole, 'grid')"
                            :class="{ active: selectedComponent == 'grid' }">grid</router-link>
                        <router-link
                            class="nav-link subcontrols-option"
                            :to="routerLink(sortStatus, sortRole, 'timeline')"
                            :class="{ active: selectedComponent == 'timeline' }">timeline</router-link>
                    </div>
                </div>
            </div>
        </div>

        <!-- Members table -->
        <transition name="fade" mode="out-in">
            <keep-alive>
                <component
                    @showUpdateMemberModal="showUpdateMemberModal($event)"
                    @del="del($event)"
                    :is="selectedComponent"
                    :members="sortedMembers"
                    :sortStatus="sortStatus"
                    :sortRole="sortRole" />
            </keep-alive>
        </transition>

        <member-modal
            v-if="showMemberModal"
            :memberMode="memberMode"
            :member="memberToEdit"
            @createMember="createMember($event)"
            @updateMember="updateMember($event)"
            @cancel="showMemberModal = false;" />
    </main>
</template>

<script scoped>
    import axios from 'axios';

    import { common } from '../../main';

    import grid from './grid.vue';
    import timeline from './timeline.vue';
    import memberModal from './member-modal.vue';

    export default {
        data() {
            return {
                sortStatus: this.$route.params.sortStatus != null ? this.$route.params.sortStatus : 'current',
                sortRole: this.$route.params.sortRole != null ? this.$route.params.sortRole : 'any-role',
                orderQuery: 'dateJoined',
                selectedComponent: this.$route.params.selectedComponent != null ? this.$route.params.selectedComponent : 'grid',
                currentDate: new Date(),
                showMemberModal: false,
                isModalVisible: false,
                showRoles: false,
                isAuth: common.isAuth,
                memberToEdit: {},
                memberMode: ''
            }
        },
        methods: {
            routerLink(status, role, component) {
                return {
                    name: 'sortedMembers',
                    params: {
                        sortStatus: status,
                        sortRole: role,
                        selectedComponent: component
                    }
                };
            },
            showCreateMemberModal() {
                this.memberMode = 'createMember';
                this.memberToEdit = {};
                this.$set(this.memberToEdit, 'roles', []);
                this.showMemberModal = true;
            },
            createMember(member) {
                if (member != 0) {
                    common.members.push(member);
                    this.showMemberModal = false;
                }
            },
            showUpdateMemberModal(member) {
                this.memberMode = 'updateMember';
                this.memberToEdit = JSON.parse(JSON.stringify(common.members.find(m => m.m2bId === member.m2bId)));
                this.showMemberModal = true;
            },
            updateMember(newMember) {
                var oldMember = common.members.find(m => m.m2bId === newMember.m2bId);
                common.members.splice(common.members.indexOf(oldMember), 1, newMember);
                this.showMemberModal = false;
            },
            del(member) {
                if (confirm("Are you sure?")) {
                    axios.delete('members/delete.php', { data: member.id })
                    .then(response => {
                        common.members.splice(common.members.indexOf(member), 1);
                    })
                }
            }
        },
        watch: {
            '$route'(to, from) {
                this.sortStatus = to.params.sortStatus;
                this.sortRole = to.params.sortRole;
                this.selectedComponent = to.params.selectedComponent;
            }
        },
        components: {
            grid,
            timeline,
            memberModal
        },
        created() {
            // Members
            axios.get('members/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                common.members = response.data;
            }),

            axios.get('roles/read.php', {
                params: {
                    by_current_band: true
                }
            })
            .then(response => {
                common.roles = response.data;
            })
        },
        computed: {
            allMembers() {
                return common.members
            },
            currentMembers() {
                return common.members
                .filter(member => {
                    return member.isCurrent;
                });
            },
            sortedMembers() {
                return common.members
                .sort((a, b) => { return a.dateJoined < b.dateJoined ? -1 : a.dateJoined > b.dateJoined ? 1 : 0 })
                .filter(member => {
                    return this.sortStatus == 'current' && this.currentMembers.length > 0 ? member.isCurrent : member;
                })
                .filter(member => {
                    if (this.sortRole == 'any-role') return true;

                    return member.roles.find(r => { return r.slug == this.sortRole });
                });
            },
            roles() {
                return common.roles;
            },
            dropDownRoles() {
                var roleNames = common.members.flatMap(m => m.roles.flatMap(r => r.name));
                var distinctRoleNames = [...new Set(roleNames)];

                var rolesResult = [];

                distinctRoleNames.forEach(rn => {
                    rolesResult.push(common.roles.find(r => { return r.name == rn }));
                });

                return rolesResult;
            }
        }
    }
</script>