<template>
    <div class="modal-wrapper" @click="$emit('cancel')">
        <div class="modal" @click.stop>

            <header class="modal-header">
                <h2 class="modal-h2">
                    <span v-if="selectedModalComponent == 'memberModal'">Add New Member</span>
                    <span v-if="selectedModalComponent == 'roleModal'">Add New Role</span>
                </h2>
            </header>

            <!-- Modal content-->
            <main class="modal-content">
                <keep-alive>
                    <component
                        :is="selectedModalComponent"
                        :object="objectToEdit" />
                </keep-alive>
            </main>
            
            <footer class="modal-footer" id="modal-buttons-wrapper">
                <button type="button" class="normal" @click="save()">Add</button>
                <button type="button" class="cancel" @click="cancel()">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import memberModal from './member-modal-new.vue';
    
    export default {
        props: [
            
        ],
        data() {
            return {
                selectedModalComponent: 'memberModal',
                objectToEdit: {},
            }
        },
        methods: {
            save() {
                
            },
            cancel() {
                this.$emit('cancel');
            }
        },
        components: {
            memberModal
        },
        created() {
            
        }
    }
</script>