<template>
    <div class="modal-wrapper" @click="$emit('cancel')">
        <div class="modal modal-level-2" @click.stop>

            <header class="modal-header">
                <h2 class="modal-h2">
                    <span v-if="roleMode == 'createRole'">Create New Role</span>
                    <span v-if="roleMode == 'updateRole'">Update Role</span>
                </h2>
            </header>

            <!-- Modal content-->
            <main class="modal-content">
                <p>
                    <label>Select Role</label>
                    <select v-model="role.r2bId" required :class="{ 'placeholder-color': role.r2bId == null }">
                        <option v-if="role.r2bId == null" :value="null">--- Select ---</option>
                        <option v-for="r in roles" :value="r.r2bId" :key="r.r2bId">{{ r.name }}</option>
                    </select>
                </p>

                <p>
                    <label>Started</label>
                    <input type="date" v-model="role.started" required placeholder="For example: '1999-02-04'">
                </p>

                <p>
                    <label>
                        Ended
                        <span class="optional-label">
                            Optional
                        </span>
                    </label>
                    <input type="date" v-model="role.ended" required placeholder="For example: '2003-04-16'">
                </p>

                <p>
                    <label for="level">Level</label>
                    <select v-model="role.level">
                        <option v-for="l in 4" :value="l - 1" :key="l">{{ l - 1 }}</option>
                    </select>
                </p>
            </main>
            
            <footer class="modal-footer" id="modal-buttons-wrapper">
                <button
                    type="button"
                    class="button normal"
                    :disabled="buttonIsDisabled"
                    @click="save()">
                        Add
                </button>
                <button type="button" class="button cancel" @click="cancel()">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script scoped>
    import axios from 'axios';
    
    export default {
        props: [
            'role',
            'roleMode'
        ],
        data() {
            return {
                roles: []
            }
        },
        methods: {
            save() {
                this.role.added = true;
                this.role.edit = false;
                this.role.delete = false;
                this.role.color = this.roles.find(r => r.r2bId == this.role.r2bId).color;
                
                this.$emit(this.roleMode, this.role);
            },
            cancel() {
                this.$emit('cancel');
            },
            checkIfDateValid(s) {
                var patternRegex = new RegExp(/^\d{4}-\d{1,2}-\d{1,2}$/);
                if (!patternRegex.test(s)) return false;
                
                var y = s.split('-')[0];
                var m = s.split('-')[1];
                var d = s.split('-')[2];

                if (d > 31 || d < 1) return false;

                if (m < 1 || m > 12) return false;
                
                if ([2, 4, 6, 9, 11].includes(parseInt(m)) && d > 30) return false;

                if (m == 2 && d > 29) return false;

                if (m == 2 && d > 28) {
                    if (y % 100 == 0 && y % 400 != 0) {
                        return false;
                    }
                    if (y % 4 != 0) {
                        return false;
                    }
                }
                
                return true;
            }
        },
        computed: {
            buttonIsDisabled() {
                var roleIsSelected = this.role.r2bId != null;
                var startedIsValid = this.checkIfDateValid(this.role.started);
                var endedIsValid = !this.role.ended || this.checkIfDateValid(this.role.ended);

                return !roleIsSelected || !startedIsValid || !endedIsValid;
            }
        },
        created() {
            axios.get('roles/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                this.roles = response.data.sort((a, b) => { return (a.name.toLowerCase() < b.name.toLowerCase()) ? -1 : (a.name.toLowerCase() < b.name.toLowerCase()) ? 1 : 0 });
            });
        }
    }
</script>