<template>
    <div v-if="members.length > 0">
        <div id="members-timeline" @mousemove="mouseMove($event)">
            <div id="members-timeline-names">
                <div class="member-name" v-for="member in members" :key="member.id" v-show="(new Date(member.dateJoined)).getTime() < bandUpdDate.getTime() || isAuth">
                    <span :class="{ current: member.isCurrent }">
                        {{ member.firstName + ' ' + member.lastName }}
                    </span>

                    <div class="actions" style="margin-left: 1em; margin-top: 0" v-if="isAuth">
                        <a
                            @click.prevent="showUpdateModal(member)"
                            :href="'/members/edit/' + member.id"
                            title="Edit">
                            <i class="fas fa-edit"></i>
                        </a>

                        <a
                            @click.prevent="del(member)"
                            :href="'/members/delete/' + member.id"
                            title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
            
            <div id="members-timeline-gantt">
                <div class="timeline-band-names">
                    <div
                        class="timeline-band-name"
                        v-for="bn in bandNames"
                        :key="bn.name"
                        :style="{ left: stemMarginLeft(bn.dateStarted) + '%' }">
                            {{ bn.name }}
                    </div>
                </div>

                <div class="timeline-stem-container"
                    v-for="(member, i) in members"
                    :key="member.id + '-' + i"
                    v-show="(new Date(member.dateJoined)).getTime() < bandUpdDate.getTime() || isAuth">
                    <div class="timeline-stem"
                        v-for="(role, i) in member.roles" :key="role.id + '-' + i"
                        v-show="(new Date(role.started)).getTime() < bandUpdDate.getTime()"
                        :style="{
                            left: stemMarginLeft(role.started) + '%',
                            minWidth: milestoneWidth + 'px',
                            width: stemWidth(role.started, role.ended) + '%',
                            background: member.dateJoined != null ? role.color : 'transparent',
                            height: roleHeight(role) + 'px'
                        }"
                        @mouseover="mouseOverStem(role, member)"
                        @mouseout="mouseOut"
                        >
                    </div>
                </div>
                
                <div class="timeline-milestone gig"
                    v-for="gig in gigs" :key="gig.id"
                    v-show="showGigs && (new Date(gig.date)).getTime() < bandUpdDate.getTime()"
                    :style="{
                        left: stemMarginLeft(gig.date) + '%',
                        width: milestoneWidth + 'px'
                    }"
                    @mouseover="mouseOverMilestone(gig)"
                    @mouseout="mouseOut">
                </div>
                <div class="timeline-milestone album"
                    v-for="album in albums" :key="album.id"
                    v-show="showAlbums"
                    :style="{
                        left: stemMarginLeft(album.date) + '%',
                        width: milestoneWidth + 'px'
                    }"
                    @mouseover="mouseOverMilestone(album)"
                    @mouseout="mouseOut">
                </div>
                <div style="position: relative;" id="timeline-marks">
                    <div v-for="year in years" :key="year">
                        <div class="grad grad-year"
                            v-for="month in months" :key="month.num + '0'"
                            v-show="month.num == 1 && isDisplayMonth(year, 1)"
                            :style="{ left: stemMarginLeft(year + '-01-01') + '%' }">
                            <span style="width: 36px; position: absolute; left: -18px; top: 28px; text-align: center;">{{ year }}</span>
                        </div>
                        <div class="grad grad-month"
                            v-for="month in months" :key="month.num + '1'"
                            v-show="month.num != 1 && isDisplayMonthMark(year, month.num)"
                            :style="{ left: stemMarginLeft(year + '-' + month.num + '-01') + '%', height: (isDisplayMonth(year, month.num) ? 10 : 5) + 'px' }">
                            <span v-show="month.num != 1 && isDisplayMonth(year, month.num)" style="width: 24px; position: absolute; left: -12px; top: 12px; text-align: center;">
                                {{ month.name }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="legend" style="margin-top: 75px">
            <div id="legend-roles" style="display: flex">
                <div v-for="role in legendRoles" :key="role.id" class="legend-role" style="display: flex; align-items: center; margin-right: 2em;">
                    <div class="role-swatch" style="height: 20px; width: 20px; margin-right: .5em;" :style="{ background: role.color }"></div>
                    <div>{{ role.name }}</div>
                </div>
            </div>

            <div id="legend-milestones" style="display: flex; margin-top: 2em;">
                <div v-if="gigs.length > 0" class="legend-milestone" style="display: flex; align-items: center; margin-right: 2em;">
                    <div class="role-swatch role-swatch-gig"></div>
                    <div>gig</div>
                </div>
                <div v-if="albums.length > 0" class="legend-milestone" style="display: flex; align-items: center; margin-right: 2em;">
                    <div class="role-swatch role-swatch-album"></div>
                    <div>album</div>
                </div>
            </div>
        </div>
        <div class="tooltip" v-show="showTooltip" :style="{ top: tooltipYPos + 'px', left: tooltipXPos + 'px' }">
            <div v-show="showStemTooltip">
                <p class="tooltip-p tooltip-header">{{ tooltipContent.member }}</p>
                <p class="tooltip-p">{{ tooltipContent.role }}</p>
                <p class="tooltip-p">{{ tooltipContent.time }}</p>
            </div>

            <div v-show="showMilestoneTooltip">
                <p class="tooltip-p tooltip-header">{{ milestoneTooltipContent.name }}</p>
                <p class="tooltip-p">{{ milestoneTooltipContent.date | humanize }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    import { common } from '../../main';

    export default {
        data() {
            return {
                isAuth: common.isAuth,

                currentDate: new Date(),
                bandCreationDate: null,
                bandDismissalDate: null,
                bandUpdDate: null,

                roles: [],
                gigs: [],
                albums: [],
                months: common.months,

                bandNames: [],

                showMonths: true,
                showGigs: true,
                showAlbums: true,

                monthsModulo: 0,
                milestoneWidth: 2,

                showTooltip: false,
                showStemTooltip: false,
                showMilestoneTooltip: false,

                tooltipXPos: 0,
                tooltipYPos: 0,
                
                tooltipContent: {},
                milestoneTooltipContent: {},

                stemHeight: 32
            }
        },
        props: [
            'members'
        ],
        created() {
            // Band Creation Date
            axios.get('get_creation_date.php')
            .then(response => {
                this.bandCreationDate = new Date(response.data.creation_date);
            }),
            // Band Dismissal Date
            axios.get('get_dismissal_date.php')
            .then(response => {
                this.bandDismissalDate = response.data.dismissal_date != null ? new Date(response.data.dismissal_date) : null;
                this.bandUpdDate = this.bandDismissalDate == null ? this.currentDate : this.bandDismissalDate;
            }),
            // Roles: for legend
            axios.get('roles/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                this.roles = response.data;
            }),
            // Gigs
            axios.get('gigs/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                this.gigs = response.data;
            }),
            // Albums
            axios.get('albums/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                this.albums = response.data;
            }),
            // Band Names
            axios.get('bands/get_band_names.php')
            .then(response => {
                this.bandNames = response.data;
            }),
            window.addEventListener("load", this.onResize);
        },
        methods: {
            stemMarginLeft(date) {
                return (new Date(date).getTime() - this.bandCreationDate.getTime()) * 100 / this.totalBandLifeInMilliseconds;
            },
            stemWidth(started, ended) {
                return ((ended == null ? new Date().getTime() : new Date(ended).getTime()) - new Date(started).getTime()) * 100 / this.totalBandLifeInMilliseconds;
            },
            roleHeight(role) {
                return role.level == 0 ? 32 : role.level * 8;
            },
            roleGoesOn(role) {
                return (new Date(role.ended)).getTime() >= this.bandUpdDate.getTime();
            },
            oneDayRole(role) {
                return (new Date(role.started)).getTime() == (new Date(role.ended)).getTime();
            },
            isDisplayMonth(year, month) {
                return  this.isDisplayMonthMark(year, month)
                        &&
                        (month % this.monthsModulo == 1 || this.showMonths)
            },
            isDisplayMonthMark(year, month) {
                return  (year > this.bandCreationDate.getFullYear() && year < this.bandUpdDate.getFullYear() ||
                        year == this.bandCreationDate.getFullYear() && month > this.bandCreationDate.getMonth() + 1 ||
                        year >= this.bandUpdDate.getFullYear() && month <= this.bandUpdDate.getMonth() + 1)
            },
            onResize() {
                let totalOfMonths = Math.round((this.bandUpdDate - this.bandCreationDate) / 1000 / 60 / 60 / 24 / 30);
                let timelineMarksWidth = document.querySelector('#timeline-marks') != null ? document.querySelector('#timeline-marks').clientWidth : 0;
                let singleMonthWidth = timelineMarksWidth / totalOfMonths;

                this.showMonths = false;
                this.milestoneWidth = 1;

                if (singleMonthWidth > 30) {
                    this.showMonths = true;
                    this.milestoneWidth = 2;
                } else if (singleMonthWidth <= 30 && singleMonthWidth > 15) {
                    this.monthsModulo = 2;
                    this.milestoneWidth = 2;
                } else if (singleMonthWidth <= 15 && singleMonthWidth > 10) {
                    this.monthsModulo = 3;
                } else if (singleMonthWidth <= 10 && singleMonthWidth > 7) {
                    this.monthsModulo = 4;
                // } else if (singleMonthWidth <= 7 && singleMonthWidth > 4)  {
                //     this.monthsModulo = 6;
                } else {
                    this.monthsModulo = 12;
                }
            },
            mouseMove(event) {
                var t = document.querySelector(".tooltip");
                var offset = 0;

                if (event.pageX >= window.innerWidth - 16 - t.clientWidth) {
                    offset = (t.clientWidth + 24) * -1;
                }

                this.tooltipXPos = event.pageX + 16 + offset;
                this.tooltipYPos = event.pageY - 16;
            },
            mouseOverStem(role, member) {
                this.showTooltip = true;
                this.showStemTooltip = true;
                
                this.tooltipContent.role = role.name;
                this.tooltipContent.member = member.firstName + " " + member.lastName;

                if (role.ended == null) {
                    this.tooltipContent.time = 'Since ' + this.$options.filters.humanize(role.started);
                } else if (role.started == role.ended) {
                    this.tooltipContent.time = this.$options.filters.humanize(role.started);
                } else {
                    this.tooltipContent.time = this.$options.filters.humanize(role.started) + ' – ' + this.$options.filters.humanize(role.ended);
                }
            },
            mouseOverMilestone(milestone) {
                this.showTooltip = true;
                this.showMilestoneTooltip = true;

                this.milestoneTooltipContent.name = milestone.name;
                this.milestoneTooltipContent.date = milestone.date;
            },
            mouseOut() {
                this.showTooltip = false;
                this.showStemTooltip = false;
                this.showMilestoneTooltip = false;
            },
            showUpdateModal(member) {
                this.$emit('showUpdateMemberModal', member);
            },
            del(member) {
                this.$emit('del', member);
            }
        },
        mounted() {
            window.addEventListener('resize', this.onResize);
        },
        computed: {
            totalBandLifeInMilliseconds() {
                return this.bandUpdDate.getTime() - this.bandCreationDate.getTime();
            },
            years() {
                let array = [];

                for (let i = this.bandCreationDate.getFullYear(); i <= this.bandUpdDate.getFullYear(); i++) {
                    array.push(i);
                }

                return array;
            },
            legendRoles() {
                var roleNames = this.members.flatMap(m => m.roles.flatMap(r => r.name));
                var distinctRoleNames = [...new Set(roleNames)];

                var rolesResult = [];

                distinctRoleNames.forEach(rn => {
                    rolesResult.push(this.roles.find(r => { return r.name == rn }));
                });

                return rolesResult;
            }
        }
    }
</script>

<style>
    #members-timeline {
        display: flex;
    }

    #members-timeline-names {
        margin-right: 5px;
        white-space: nowrap;
    }

    #members-timeline-gantt {
        width: 100%;
        border: 1px solid #000;
        border-right: none;
        border-top: none;
        position: relative;
    }

    .timeline-band-names {
        display: flex;
        position: relative;
        top: -30px;
        color: #999;
    }

    .timeline-band-name {
        position: absolute;
        font-weight: lighter;
        font-size: 80%;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        padding: 4px 7px;
    }

    .timeline-stem-container {
        background: #e0e0e0;
        margin: 15px 0;
        display: flex;
        position: relative;
        align-items: center;
        height: 32px;
    }

    .timeline-stem-container:last-child {
        margin-bottom: 0;
    }

    .timeline-stem {
        display: flex;
        align-items: center;

        position: absolute;

        height: 32px;

        z-index: 1;
    }

    .timeline-milestone {
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
    }

        .timeline-milestone.gig {
            background: #ccc9;
        }

        .timeline-milestone.album {
            background: #3339;
        }

    .grad {
        border-left-width: 1px;
        border-left-style: solid;
        position: absolute;
        font-size: 12px;
        padding-top: .5em;
    }

    .grad-year {
        border-left-color: #000; 
        height: 22px;
        padding-left: .5em;
    }
        
    .grad-month {
        border-left-color: #999; 
        height: 5px;
        padding-left: .15em;
        color: #ccc;
        top: 1px;
    }

    .member-name {
        margin: 15px 0;
        padding: 0 12px;
        height: 32px;
        display: flex;
        align-items: center;
        align-self: flex-end;
        justify-content: space-between;
        color: #999;
    }

    .member-name .current {
        font-weight: bold;
        color: #000;
    }

    .tooltip, .milestone-tooltip {
        background: #fffe;
        color: #333;
        position: absolute;
        z-index: 1000;
        padding: 20px;
        border-radius: 4px;
        display: flex;
        flex-flow: column;
        box-shadow: 0px 3px 2px 2px #0003;
    }

    .tooltip-p {
        margin-bottom: .5em;
        white-space: nowrap;
    }

    .tooltip-header {
        font-weight: bold;
    }

    .role-swatch-gig,
    .role-swatch-album {
        height: 20px;
        width: 2px;
        margin-right: .5em;
    }

    .role-swatch-gig {
        background: #ccc9;
    }

    .role-swatch-album {
        background: #3339;
    }

    @media (prefers-color-scheme: dark) {
        .timeline-band-name {
            border-left-color: #666;
            border-top-color: #666;
        }

        .timeline-stem-container {
            background: #202020;
        }

        .timeline-milestone.gig {
            background: #6669;
        }

        .timeline-milestone.album {
            background: #ccc9;
        }

        .member-name {
            color: #666;
        }

        .member-name .current {
            color: #ddd;
        }

        #members-timeline-gantt {
            border-color: #999;
        }

        .role-swatch-gig {
            background: #6669;
        }

        .role-swatch-album {
            background: #ccc9;
        }
    
        .grad-year {
            border-left-color: #999;
        }
            
        .grad-month {
            border-left-color: #666;
            color: #666;
        }
    }
</style>
