<template>
    <table v-if="locations.length > 0">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th class="location">Image</th>
                <th>Venues</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(location, i) in locations" :key="location.id">
                <td>{{ i + 1 }}</td>
                <!-- Name -->
                <td>{{ location.name }}</td>

                <!-- Image -->
                <td class="location">
                    <img
                        class="location"
                        :src="baseUrl + '/../src/assets/img/locations/' + location.image"
                        :alt="location.image"
                        :title="location.image"
                        @click.prevent="showImagesModal(location)">
                    <div class="location">{{ location.image }}</div>
                </td>

                <!-- Venues -->
                <td>
                    <span v-if="location.venuesNum > 0">{{ location.venuesNum }}</span>
                </td>

                <!-- Actions -->
                <td class="actions">
                    <!-- <a @click.prevent="showImagesModal(location)" :href="'/locations/images'" title="Change Image">
                        <i class="far fa-image"></i>
                    </a> -->
                    <a @click.prevent="showUpdateModal(location)" :href="'/locations/edit/' + location.id" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a @click.prevent="del(location)" :href="'/locations/delete/' + location.id" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import { common } from '../../main';

    export default {
        data () {
            return {
                gigs: [],
                venues: [],
                isAuth: common.isAuth,
                baseUrl: ''
            }
        },
        created() {
            this.baseUrl = common.baseUrl;
        },
        methods: {
            showImagesModal(location) {
                this.$emit('showImagesModal', location);
            },
            showUpdateModal(location) {
                this.$emit('showUpdateModal', location);
            },
            del(location) {
                this.$emit('del', location);
            }
        },
        computed: {
            locations() {
                return common.locations.sort((a, b) => { return (a.name.toLowerCase() < b.name.toLowerCase()) ? -1 : (a.name.toLowerCase() < b.name.toLowerCase()) ? 1 : 0 });
            }
        }
    }
</script>

<style>
    span.status {
        padding: 4px 6px;
        border-radius: 4px;
        font-size: 14px;
        display: inline;
    }

    td.location, th.location {
        text-align: center;
    }

    img.location {
        max-width: 2.5em;
    }

    div.location {
        padding: 4px;
        border-radius: 4px;
    }

    div.location{
        text-align: center;
        font-size: 80%;
    }

    td.location span {
        display: block;
    }
</style>