<template>
    <div id="images-modal" class="images-modal-wrapper">
        <div class="images-modal">

            <!-- Images Modal Content-->
            <div class="images-modal-content">
                <div id="ttt">
                    <img
                        v-for="img in images"
                        :key="img"
                        :src="baseUrl + '/../src/assets/img/locations/' + img"
                        :alt="img"
                        :class="{ 'selected-image': img == location.image }"
                        @click="location.image = img">
                </div>
            </div>
            <div id="images-modal-buttons-wrapper">
                <button type="button" class="normal" @click="updateImage()">Save</button>
                <button type="button" class="normal" @click="deleteImage(img)">Delete</button>
                <!-- <button type="button" class="normal" @click="uploadImage()">Upload</button> -->
                <!-- <input type="file" id="file" ref="file" @change="onFileChanged"> -->
                <!-- <label for="file">Upload</label> -->
                <button type="button" class="cancel" @click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import { common } from '../../main';
    
    export default {
        props: [
            'location'
        ],
        data() {
            return {
                images: [],
                baseUrl: ''
            }
        },
        created() {
            axios.get('locations/images.php')
            .then(response => {
                this.images = response.data;
            });
            this.baseUrl = common.baseUrl;
        },
        methods: {
            updateImage() {
                axios.post('locations/update_image.php', this.location)
                .then(() => {
                    axios.get('locations/read_single.php', {
                        params: {
                            id: this.location.id
                        }
                    })
                    .then(r => {
                        this.$emit('updateImage', r.data);
                    });
                })
            },
            deleteImage() {
                if (confirm("Are you sure?")) {
                    axios.delete('locations/delete_image.php', { data: this.location })
                    .then(() => {
                        this.images.splice(this.images.indexOf(location.image), 1);
                    })
                    .then(() => {
                        axios.get('locations/read_single.php', {
                            params: {
                                id: this.location.id
                            }
                        });
                    })
                }
            },
            cancel() {
                this.$emit('cancel');
            }
        }
    }
</script>


<style>
    .images-modal-wrapper {
        z-index: 1050;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .75);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .images-modal-open {
        visibility: visible;
    }

    .images-modal {
        z-index: 1040;
        position: relative;
        background-color: #fff;
        min-width:700px;
        max-height: calc(100% - 4em);
        max-width: calc(100% - 4em);

        overflow-y: auto;
        overflow-x: auto;

        width: 100%;
        padding: 4em;
    }

    .images-modal-content {
        outline: 0;
        width: 100%;
    }

    .images-modal-header {
        min-height: 16px;
        padding: 15px;
        padding-bottom: 0;
    }

    .images-modal-title {
        text-align: center;
    }

    .images-modal-body {
        padding: 0 30px 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .images-modal-body > div {
        display: flex;
        width: 100%;
    }

    .label {
        display: flex;
        justify-content: flex-end;
        margin-right: .75em;
        align-items: center;
    }

    .label, .input-wrapper {
        width: 50%;
        padding: .25em;
        font-size: 16px;
    }
    .input-wrapper input, .input-wrapper select {
        padding: .5em;
    }

    .close {
        float: right;
        font-size: 21px;
        color: #999;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    button.close {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
    }

    .images-modal button.close {
        margin-right: 7px;
    }

    #overlay {
        visibility: hidden;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1040;
        background-color: rgba(0, 0, 0, .75);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #image-modal .modal {
        min-width: 600;
    }

    #image-modal .modal-body {
        padding: 0;
    }

    #image-modal img {
        margin:0;
    }

    .blur {
        filter: blur(10px);
    }

    #modal textarea {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        border: 0;
        outline: none;
        font-family: inherit;
        resize: none;
        width: 100%;
    }

    #modal-buttons-wrapper {
        display: flex;
        align-items: center;
        padding: 1.5em;
        padding-top: 0;
        justify-content: center;
    }

    #modal-buttons-wrapper button {
        margin: 0 1em;
    }

    .images-modal button,
    .images-modal input[type=file] + label {
        border: 0;
        padding: 1em 2em;
        border-radius: .25em;
        font-weight: bold;
    }

    .images-modal button.normal,
    .images-modal input[type=file] + label {
        background: -moz-linear-gradient(top, #6dace8 0%, #1664a3 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #6dace8 0%,#1664a3 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #6dace8 0%,#1664a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: white;
    }
    .images-modal button.delete {
        background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: white;
    }
    .images-modal button.cancel {
        background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: black;
    }

    .message.info {
        color: steelblue;
    }

    .message.error {
        color: red;
    }

    #ttt {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, auto));
        grid-gap: 30px;
        justify-items: center;
    }

    #ttt img {
        width: 100px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .selected-image {
        opacity: .75;
        background: skyblue;
    }

    .images-modal input[type=file] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
</style>