<template>
    <main>
        <h1>
            Locations
            <a
                href="/locations/create"
                v-if="isAuth"
                @click.prevent="showCreateModal()">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h1>

        <div v-if="this.locations.length == 0">
            No locations to show. <a href="/locations/create" @click.prevent="showCreateModal()">Create</a> your first location.
        </div>
        
        <grid
            @showImagesModal="showImagesModal($event)"
            @showUpdateModal="showUpdateModal($event)"
            @del="del($event)"></grid>
        
        <modal
            v-if="showModal"
            :mode="mode"
            :location="locationToEdit"
            @create="create($event)"
            @update="update($event)"
            @cancel="showModal = false" />

        <imagesmodal
            v-if="isShowImagesModal"
            :location="locationToEdit"
            @updateImage="updateImage($event)"
            @cancel="isShowImagesModal = false" />
    </main>
</template>

<script>
    import axios from 'axios';

    import { common } from '../../main';
    
    import grid from './grid.vue';
    import modal from './modal.vue';
    import imagesmodal from './images-modal.vue';

    export default {
        data () {
            return {
                isAuth: common.isAuth,
                showModal: false,
                isShowImagesModal: false,
                locationToEdit: {},
                mode: ''
            }
        },
        components: {
            grid,
            modal,
            imagesmodal
        },
        methods: {
            showCreateModal() {
                this.showModal = true;
                this.locationToEdit = {};
                this.mode = 'create';
            },
            create(location) {
                if (location != 0) {
                    common.locations.push(location);
                    this.showModal = false;
                }
            },
            showImagesModal(location) {
                this.locationToEdit = JSON.parse(JSON.stringify(common.locations.find(s => s.id === location.id)));
                this.isShowImagesModal = true;
            },
            showUpdateModal(location) {
                this.showModal = true;
                this.locationToEdit = JSON.parse(JSON.stringify(common.locations.find(s => s.id === location.id)));
                this.mode = 'update';
            },
            update(newLocation) {
                var oldLocation = common.locations.find(r => r.id === newLocation.id);
                common.locations.splice(common.locations.indexOf(oldLocation), 1, newLocation);
                this.showModal = false;
            },
            updateImage(newLocation) {
                var oldLocation = common.locations.find(r => r.id === newLocation.id);
                common.locations.splice(common.locations.indexOf(oldLocation), 1, newLocation);
                this.isShowImagesModal = false;
            },
            del(location) {
                if (confirm("Are you sure?")) {
                    axios.delete('locations/delete.php', { data: location.id })
                    .then(response => {
                        if (response.data == "OK") {
                            common.locations.splice(common.locations.indexOf(location), 1);
                        } else {
                            alert(response.data);
                        }
                    })
                }
            }
        },
        created() {
            axios.get('locations/read.php', {
                params: {
                    by_current_band: true
                }
            })
            .then(response => {
                common.locations = response.data;
            })
        },
        computed: {
            locations() {
                return common.locations;
            }
        }
    }
</script>

<style>
    h1 a {
        color: #ccc;
        text-decoration: none;
        font-size: 20px;
        margin-left: 1em;
    }

    h1 a:hover {
        color: #39f;
    }
</style>