<template>
    <div class="modal-wrapper" @click="$emit('cancel')">
        <div class="modal" @click.stop>

            <header class="modal-header">
                <h2 class="modal-h2">
                    <span v-if="mode == 'create' && currentTab == 'cn'">Create New Location</span>
                    <span v-if="mode == 'create' && currentTab == 'ae'">Add Existing Location</span>
                    
                    <span v-if="mode == 'update'">Update Location</span>
                </h2>
                <div v-if="mode == 'create' && locations.length > 0" class="header-button-container">
                    <span @click="currentTab = 'cn'" class="header-button" :class="{ 'selected': currentTab == 'cn' }">Create New</span>
                    <span @click="currentTab = 'ae'" class="header-button" :class="{ 'selected': currentTab == 'ae' }">Add Existing</span>
                </div>
            </header>

            <!-- Modal content-->
            <main class="modal-content">

                <div id="cn-tab" v-if="currentTab == 'cn'">
                    <p>
                        <label>Name</label>
                        <input type="text" v-model="location.name" required placeholder="For example: 'Monkey Island'">
                    </p>

                    <p>
                        <label>
                            Slug
                            <span class="optional-label" v-if="this.mode == 'create'">
                                Optional, if empty will be generated automatically
                            </span>
                        </label>
                        <input type="text" v-model="location.slug" required placeholder="For example: 'monkey-island'">
                    </p>

                    <p>
                        <label>Image</label>
                        <input type="file" id="file" ref="file" @change="onFileChanged">
                    </p>

                    <img style="max-height: 100px" v-if="previewUrl" :src="previewUrl" />
                </div>

                <div id="ae-tab" v-if="currentTab == 'ae'">
                    <label>Existing Location</label>
                    <select id="location-id" v-model="selectedLocation.id" required :class="{ 'placeholder-color': selectedLocation.id == null }">
                        <option v-if="selectedLocation.id == null" :value="null">--- Select ---</option>
                        <option v-for="l in locations" :value="l.id" :key="l.id">{{ l.name }}</option>
                    </select>
                </div>

            </main>

            <footer class="modal-footer" id="modal-buttons-wrapper">
                <button
                    type="button"
                    class="button normal"
                    :disabled="buttonIsDisabled"
                    @click="save()">
                        {{
                            this.location.id != null ? 'Save' : 'Create'
                        }}
                </button>
                <button type="button" class="button cancel" @click="cancel()">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import { common } from '../../main';
    
    export default {
        props: [
            'location',
            'mode'
        ],
        data() {
            return {
                file: '',
                selectedLocation: { id: null },
                imageChanged: false,
                previewUrl: '',
                locations: [],
                currentTab: 'cn'
            }
        },
        methods: {
            save() {
                if (this.mode == 'create') {
                    if (this.imageChanged) {
                        this.uploadThenHandleAction('create');
                    } else {
                        this.handleAction('create');
                    }
                } else if (this.mode == 'update') {
                    if (this.imageChanged) {
                        this.deleteUploadThenUpdate();
                    } else {
                        this.handleAction('update');
                    }
                }

                // if (this.location.id != null) {
                // // UPDATE
                //     if (this.imageChanged) {
                //         this.deleteUploadThenUpdate();
                //     } else {
                //         this.handleAction('update');
                //     }
                // } else {
                // // CREATE
                //     if (this.imageChanged) {
                //         this.uploadThenHandleAction('create');
                //     } else {
                //         this.handleAction('create');
                //     }
                // }
            },
            onFileChanged() {
                this.imageChanged = true;
                this.file = this.$refs.file.files[0];
                this.previewUrl = URL.createObjectURL(this.file);
            },
            deleteUploadThenUpdate() {
                axios.delete('locations/delete_image.php', { data: this.location })
                .then(() => {
                    this.uploadThenHandleAction('update');
                })
            },
            uploadThenHandleAction(action) {
                let formData = new FormData();
                formData.append('file', this.file);

                axios.post('locations/upload.php', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(() => {
                    this.location.image = this.file.name;
                    this.handleAction(action);
                })
            },
            handleAction(action) { // create || update

                var loc;

                if (this.currentTab == 'ae') {
                    loc = this.selectedLocation;
                } else if (this.currentTab == 'cn') {
                    loc = this.location;

                    if (loc.slug == null) {
                        loc.slug = common.toSlug(loc.name);
                    }
                }

                axios.post('locations/' + action + '.php', loc)
                .then(response => {
                    axios.get('locations/read_single.php', {
                        params: {
                            l2b_id: action == 'create' ? response.data : this.location.l2bId
                        }
                    })
                    .then(r => {
                        this.$emit(action, r.data);
                    });
                })
            },
            cancel() {
                this.imageChanged = false;
                this.$emit('cancel');
            }
        },
        computed: {
            buttonIsDisabled() {
                return  (this.currentTab == 'cn' && !this.location.name)
                        ||
                        (this.currentTab == 'ae' && this.selectedLocation.id == null);
            }
        },
        created() {
            axios.get('locations/read.php', {
                params: {
                    by_current_band: false
                }
            }).then(response => {
                this.locations = response.data;
            });
        }
    }
</script>