<template>
  <div id="main-container" @click="handleClick($event)">
    <app-header :userMenuShown="userMenuShown"></app-header>
    
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
    
    <app-footer></app-footer>
  </div>
</template>

<script>
  import axios from 'axios';

  import { common } from './main';

  import header from './components/layout/header.vue';
  import footer from './components/layout/footer.vue';

  export default {
    components: {
      appHeader: header,
      appFooter: footer
    },
    data() {
      return {
        userMenuShown: false
      }
    },
    methods: {
      handleClick($event) {
        if ($event.target.classList.contains('user-img')) {
          this.userMenuShown = !this.userMenuShown;
        } else if (!$event.target.classList.contains('user-menu-li')) {
          this.userMenuShown = false;
        }
      }
    }
  }
</script>

<style>
  :root {
    --blue: #39f;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  #main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
  }

  main {
    flex-grow: 1;
    max-width: 1600px;
    width: 100%;
    padding: 2em;
  }

  header.app-header, footer.app-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: #f8f8f8;
    color: #999;
    width: 100%;
  }

  h1 {
    padding: 30px 0;
    top: 0px;

    display: flex;
    align-items: center;
  }

  a {
        color: var(--blue);
    }

    a:hover {
        color: #f60;
    }

  h1 a {
    padding: 8px;
    font-size: 16px;
    font-weight: normal;
    border-radius: 4px;
  }

  h1 a:hover {
    color: #666;
  }


  /* Subcontrols */

  .subcontrols-wrapper {
    display: flex;
    position: absolute;
    max-height: 150px;
  }

  .subcontrols-wrapper + * {
    margin-top: 150px;
  }

  .subcontrols-group {
    margin-right: 60px;
    margin-block-end: 60px;
  }

  .subcontrols-group h5 {
    margin: 1em 0;
    font-size: 16px;
  }

  .subcontrols {
    display: flex;
    flex-flow: column;
  }

  .subcontrols-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    /* background-color: rgba(0, 0, 0, 0.75); */
    z-index: 20;
  }

  .subcontrols-selected, .subcontrols-option {
    padding: 14px;
    background: #fff;
    color: #444;
    font-weight: 400;
  }

  .subcontrols-options {
    display: flex;
  }

  .subcontrols-selected {
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #787878;
    background: #fff url('../src/assets/img/drop-down.svg') no-repeat right 10px center;
    background-size: 12px;
  }

  .subcontrols-option {
    text-decoration: none;
    border: 1px solid #787878;
    border-right-width: 0;
  }

  .subcontrols-option:last-child {
    border-right-width: 1px;
  }

  .subcontrols-option:hover {
    background: #ddd;
    color: #444;
  }

  .subcontrols-option:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .subcontrols-option:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .subcontrols-option.active {
    background: #787878;
    color: #fff;
  }


  /* Subcontrols Dropdown */

  .subcontrols-options.dropdown {
    flex-flow: column;
    visibility: hidden;
    z-index: -1;
    height: 0;
    overflow: hidden;
  }

  .subcontrols-options.dropdown.open {
    visibility: visible;
    z-index: 50;
    overflow: auto;
    height: initial;

    box-shadow: 0px 4px 10px 2px #0003;
    border-radius: 6px;
  }
  
  .dropdown .subcontrols-option {
    padding: 14px 36px 14px 14px;
    text-indent: 30px;
    border: none;
  }

  .dropdown .subcontrols-option:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .dropdown .subcontrols-option:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .dropdown .subcontrols-option.active,
  .dropdown .subcontrols-option.active:hover {
    color: #444;
  }

  .dropdown .subcontrols-option.active {
    background: #fff url('../src/assets/img/tick.svg') no-repeat left 10px center;
    background-size: 14px;
  }

  .dropdown .subcontrols-option.active:hover {
    background: #ccc url('../src/assets/img/tick.svg') no-repeat left 10px center;
    background-size: 14px;
  }
    
    table {
      margin-top: 50px;
      border-collapse: collapse;
      width: 100%;
      position: relative;
    }

    td, th {
      padding: 1em;
      padding-right: 3em;
      border-bottom-color: #ddd;
      border-bottom-style: solid;

      transition: width 1s;
    }

    th {
      text-align: left;
      font-weight: 600;
      vertical-align: bottom;
      top: 97px;
      
      border-bottom: none !important;
      box-shadow: inset 0 -2px 0 #ccc;
    }

    td {
        border-bottom-width: 1px;
        vertical-align: top;
    }

    tr:last-child td {
      border-bottom: none;
    }

    td .status {
        display: flex;
        align-items: center;
    }

    .actions {
      margin-top: 1em;
      padding-right: 1em;
      text-align: right;
    }

    i.fas {
        color: #999;
    }

    i.fas.disabled {
        opacity: .25;
        cursor: default;
    }

    i.fas:hover {
        color: var(--blue);
        cursor: pointer;
    }

    .fas.disabled:hover {
        color: #999;
        opacity: .25;
        cursor: default;
    }
    
    .info-only {
      display: inline;
    }

    .light-braces {
      color: #999;
    }

    .pseudo-link {
      color: var(--blue);
      border-bottom: 1px dashed;
      font-size: 16px;
      font-weight: normal;
      cursor: pointer;
      margin-left: 1em;
    }
    
    .fade-enter {
        opacity: 0;
    }

    .fade-enter-active {
        transition: opacity .25s;
    }

    .fade-leave-active {
        transition: opacity .25s;
        opacity: 0;
    }


    /*  */
    /*  */
    /*  */

    .modal-wrapper {
        z-index: 1050;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .75);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .modal-open {
        visibility: visible;
    }

    .modal {
        z-index: 1040;
        position: relative;
        background-color: #fff;
        min-width: 700px;
        max-height: calc(100% - 4em);
        max-width: calc(100% - 4em);

        border-radius: 12px;

        display: flex;
        flex-flow: column;

        padding-top: 0;
    }

    .modal-level-2 {
      min-width: 600px;
      height: 700px;
      max-height: calc(100% - 200px);
      max-width: calc(100% - 200px);
    }

    .modal-content {
        outline: 0;
        width: 100%;
        overflow-y: auto;
    }

    .modal-title {
        text-align: center;
    }

    .modal-body {
        padding: 0 30px 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .modal-body > div {
        display: flex;
        width: 100%;
    }

    .modal-list {
      margin-bottom: 30px;
    }

    .modal-list-item-show {
      line-height: 2.4;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .modal-list-item-show span {
      flex: 1;
    }

    .modal-list-item-show i {
      margin: 0 4px;
    }

    .modal-list-item-edit {
      margin: 30px 0;
      box-shadow: 0 8px 12px 0 rgba(0,0,0,.2);
    }

    label {
      display: block;
      font-size: 1em;
      color: #666;
      margin-bottom: .5rem;
    }

    #overlay {
        visibility: hidden;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1040;
        background-color: rgba(0, 0, 0, .75);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #image-modal .modal {
        min-width: 600;
    }

    #image-modal .modal-body {
        padding: 0;
    }

    #image-modal img {
        margin:0;
    }

    .blur {
        filter: blur(10px);
    }

    .modal-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        border-top: 1px solid #ddd;
    }

    .modal-footer button {
        margin: 0 1em;
    }

    .modal button {
        padding: 1em 2em;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        border: 1px solid transparent;
    }

    /* .modal button.normal {
        background: var(--blue);
        color: white;
    } */

    .button.normal {
        background: var(--blue);
        color: white;
    }
    
    .modal button.cancel {
        background: transparent;
        color: var(--blue);
        border-color: var(--blue);
    }

    select {
        -webkit-appearance: none;
        background: transparent url('../src/assets/img/drop-down.svg') no-repeat right 10px center;
        background-size: 12px;
    }

    input[type=text],
    input[type=password],
    input[type=date],
    input[type=tel],
    input[type=url],
    select,
    textarea {
      width: 100%;
      margin-bottom: 2rem;
      font-size: 16px;
      padding: 10px 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input[type=color] {
      height: 45px;
    }

    input[type=checkbox].toggle-switch {
      -webkit-appearance: none;

      width: 6em;
      height: 3em;
      border-radius: 3em;
      background-color: #ccc;
      outline: 0;
      cursor: pointer;
      transition: background-color 0.09s ease-in-out;
      position: relative;
      margin-bottom: 2rem;
  }

input[type=checkbox].toggle-switch:checked {
    background-color: var(--blue);
}

  input[type=checkbox].toggle-switch::after {
      content: '';
      width: 3em;
      height: 3em;
      border-radius: 3em;
      background: #eee;
      position: absolute;
      left: 0;
      transform: scale(.8);
      transition: left  .09s ease-in-out;
  }

  input[type=checkbox].toggle-switch:checked::after {
      left: 3em;
  }

  textarea {
    height: 100px;
  }

  input::placeholder, textarea::placeholder {
    color: #ccc;
    font-style: italic;
  }

    .placeholder-color {
      color: #ccc;
    }

  fieldset {
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  legend {
    padding: 0 1em;
    font-size: 18px;
  }

  .modal-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    
    padding-top: 2rem;
    padding-bottom: 2rem;

    border-bottom: 1px solid #ddd;
  }

  .modal-header .header-button-container {
    display: flex;
    margin-top: 1rem;
    align-items: baseline;
  }

  .modal-header span.header-button {
    display: inline-block;
    padding: .5em 1em;
    cursor: pointer;
    background: transparent;
    color: var(--blue);
    border-color: var(--blue);
    border-width: 1px 0 1px 1px;
    border-style: solid;
    font-size: 12px;
  }

  .modal-header span.header-button:first-child {
    border-radius: 4px 0 0 4px;
  }

  .modal-header span.header-button:last-child {
    border-radius: 0 4px 4px 0;
    border-right-width: 1px;
  }

  .modal-header span.selected {
    cursor: default;
    background: var(--blue);
    color: #fff;
  }

  .list-actions {
    position: relative;
  }

  .color-picker {
    display: flex;
  }

  .color-picker-color {
    flex-basis: 50px;
    margin-right: 12px;   
  }

  .button {
    padding: 1em 2em;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
  }

  .button-normal {
    background: var(--blue);
    color: white;
  }

  .button:disabled {
    background: #ccc;
    cursor: default;
  }

  .optional-label {
    color: #c6c6c6;
    font-size: 90%;
    display: block;
    margin: 4px 0;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --blue: #57d;
    }

    body {
      background: #333;
      color: #ddd;
    }
    
    .modal {
        background-color: #333;
    }

    /* .modal button.normal {
      color: #ddd;
    } */
    .button.normal {
      color: #ddd;
    }

    .modal-header {
      border-bottom-color: #666;
    }

    .modal-footer {
      border-top-color: #666;
    }

    .modal-header span.selected {
      color: #ddd;
    }

    input[type=date], input[type=password], input[type=tel], input[type=text], input[type=url], textarea {
      background: #333;
      color: #ddd;
    }

    input[type=date], input[type=password], input[type=tel], input[type=text], input[type=url], select, textarea {
      color: #ddd;
    }

    input[type=text],
    input[type=password],
    input[type=date],
    input[type=tel],
    input[type=url],
    select,
    textarea {
      border-color: #666;
    }

    input::placeholder, textarea::placeholder {
      color: #666;
    }

    .placeholder-color {
      color: #666;
    }

    input[type=checkbox].toggle-switch {
      background-color: #666;
    }

    fieldset {
      border-color: #666;
    }

    label {
      color: #999;
    }

    td, th {
      border-bottom-color: #666;
    }

    .subcontrols-selected, .subcontrols-option {
      background: #333;
      color: #ccc;
      border: 1px solid #999;
    }

    .subcontrols-option {
      border-right-width: 0;
    }

    .subcontrols-option:last-child {
      border-right-width: 1px;
    }

    .subcontrols-selected {
      background: #333 url('../src/assets/img/drop-down.svg') no-repeat right 10px center;
      background-size: 12px;
    }

    .subcontrols-option.active,
    .subcontrols-option.active:hover {
      background: #999;
      color: #000;
    }

    .subcontrols-option:hover {
      background: #222;
    }

    .subcontrols-option:hover {
      color: #ccc;
    }

    .dropdown .subcontrols-option.active,
    .dropdown .subcontrols-option.active:hover {
      color: #ccc;
    }

    .dropdown .subcontrols-option.active {
      background: #333 url('../src/assets/img/tick-dark.svg') no-repeat left 10px center;
      background-size: 14px;
    }

    .dropdown .subcontrols-option.active:hover {
      background: #222 url('../src/assets/img/tick-dark.svg') no-repeat left 10px center;
      background-size: 14px;
    }

    #members-timeline-gantt {
      border-color: #999;
    }

    .button:disabled {
      background: #444;
      color: #666;
      cursor: default;
    }

    .optional-label {
      color: #585858;
    }
  }
</style>