<template>
    <main>
        <h1>
            Gigs
            <a
                href="/gigs/create"
                v-if="isAuth"
                @click.prevent="showCreateModal()">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h1>

        <div v-if="this.gigs.length == 0">
            No gigs to show. <a href="/gigs/create" @click.prevent="showCreateModal()">Create</a> your first gig.
        </div>

        <div class="subcontrols-wrapper" v-if="gigs.length > 0">
            <div class="subcontrols-backdrop" v-if="showVenues || showLocations" @click="showVenues = false; showLocations = false"></div>

            <div class="subcontrols-group">
                <h5>Venue:</h5>

                <div class="subcontrols">
                    <span
                        v-if="venues.length > 3"
                        class="subcontrols-selected"
                        @click="showVenues = !showVenues">
                        {{ sortVenue == 'any-venue' ? 'All' : venues.find(v => v.slug == sortVenue).name }}</span>

                    <div class="subcontrols-options" :class="{ open: showVenues, dropdown: venues.length > 3 }">
                        <router-link
                            @click.native="showVenues = false; showLocations = false"
                            class="nav-link subcontrols-option"
                            :to="routerLink('any-venue', sortLocation)"
                            :class="{ active: sortVenue == 'any-venue' }">All <span style="opacity: .5">({{ gigsNum }})</span></router-link>

                        <router-link
                            @click.native="showVenues = false; showLocations = false"
                            v-for="venue in venues"
                            :key="venue.id"
                            class="nav-link subcontrols-option"
                            :to="routerLink(venue.slug, 'any-location')"
                            :class="{ active: sortVenue == venue.slug }">{{ venue.name }} <span style="opacity: .5">({{ venue.pastGigsNum }})</span></router-link>
                    </div>
                </div>
            </div>

            <div class="subcontrols-group">
                <h5>Location:</h5>

                <div class="subcontrols">
                    <span
                        v-if="locations.length > 3"
                        class="subcontrols-selected"
                        @click="showLocations = !showLocations">
                        {{ sortLocation == 'any-location' ? 'All' : locations.find(l => l.slug == sortLocation).name }}</span>

                    <div class="subcontrols-options" :class="{ open: showLocations, dropdown: locations.length > 3 }">
                        <router-link
                            @click.native="showVenues = false; showLocations = false"
                            class="nav-link subcontrols-option"
                            :to="routerLink(sortVenue, 'any-location')"
                            :class="{ active: sortLocation == 'any-location' }">All</router-link>

                        <router-link
                            @click.native="showVenues = false; showLocations = false"
                            v-for="location in locations"
                            :key="location.id"
                            class="nav-link subcontrols-option"
                            :to="routerLink('any-venue', location.slug)"
                            :class="{ active: sortLocation == location.slug }">{{ location.name }}</router-link>
                    </div>
                </div>
            </div>
        </div>

        <grid
            :isShowDetails="isShowDetails"
            :isMarkFirstTimeData="isMarkFirstTimeData"
            @showUpdateModal="showUpdateModal($event)"
            @showDuplicateModal="showDuplicateModal($event)"
            @del="del($event)"
            :sortLocation="sortLocation"
            :sortVenue="sortVenue"></grid>
        
        <modal
            v-if="isShowModal"
            :mode="mode"
            :gig="gigForModal"
            @create="create($event)"
            @update="update($event)"
            @cancel="isShowModal = false;" />
    </main>
</template>

<script>
    import axios from 'axios';
    import { common } from '../../main';

    import grid from './grid.vue';
    import modal from './modal.vue';

    export default {
        data () {
            return {
                isAuth: common.isAuth,
                isShowDetails: false,
                isMarkFirstTimeData: false,
                isShowModal: false,
                gigForModal: {},
                mode: '',

                showVenues: false,
                sortVenue: this.$route.params.sortVenue != null ? this.$route.params.sortVenue : 'any-venue',

                showLocations: false,
                sortLocation: this.$route.params.sortLocation != null ? this.$route.params.sortLocation : 'any-location'
            }
        },
        components: {
            grid,
            modal
        },
        methods: {
            routerLink(venue, location) {
                return {
                    name: 'sortedGigs',
                    params: {
                        sortVenue: venue,
                        sortLocation: location
                    }
                };
            },
            showCreateModal() {
                this.isShowModal = true;
                this.gigForModal = { venueId: null };
                this.$set(this.gigForModal, 'songs', []);
                this.$set(this.gigForModal, 'members', []);
                this.mode = 'create';
            },
            create(gig) {
                if (gig != 0) {
                    common.gigs.push(gig);
                    this.isShowModal = false;
                }
            },
            showUpdateModal(gig) {
                this.isShowModal = true;
                this.gigForModal = JSON.parse(JSON.stringify(common.gigs.find(s => s.id === gig.id)));
                this.mode = 'update';
            },
            showDuplicateModal(gig) {
                this.isShowModal = true;
                this.gigForModal = JSON.parse(JSON.stringify(gig));
                this.gigForModal.id = null;
            },
            update(newGig) {
                let oldGig = common.gigs.find(g => g.g2bId === newGig.g2bId);
                common.gigs.splice(common.gigs.indexOf(oldGig), 1, newGig);
                this.isShowModal = false;
            },
            del(gig) {
                if (confirm("Are you sure?")) {
                    axios.delete('gigs/delete.php', { data: gig.id })
                    .then(response => {
                        if (response.data == "OK") {
                            common.gigs.splice(common.gigs.indexOf(gig), 1);
                        } else {
                            alert(response.data);
                        }
                    })
                }
            }
        },
        watch: {
            '$route'(to, from) {
                this.sortVenue = to.params.sortVenue;
                this.sortLocation = to.params.sortLocation;
            }
        },
        computed: {
            locations() {
                return common.locations;
            },
            venues() {
                return common.venues.filter(v => v.pastGigsNum > 0);
            },
            gigsNum() {
                return common.gigs.length
            },
            gigs() {
                return common.gigs;
            }
        },
        created() {
            axios.get('gigs/read.php', {
                params: {
                    by_current_band: true
                }
            })
            .then(response => {
                common.gigs = response.data;
            }),

            axios.get('locations/read.php', {
                params: {
                    by_current_band: true
                }
            })
            .then(response => {
                common.locations = response.data;
            }),

            axios.get('venues/read.php', {
                params: {
                    by_current_band: true
                }
            })
            .then(response => {
                common.venues = response.data;
            })
        }
    }
</script>

<style>
    h1 a {
        color: #ccc;
        text-decoration: none;
        font-size: 20px;
        margin-left: 1em;
    }

    h1 a:hover {
        color: #39f;
    }
</style>