<template>
    <table v-if="gigs.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Venue</th>
                <th class="location">Location</th>
                <!-- <th v-if="false">Participants</th> -->
                <!-- <th v-if="false">Setlist</th> -->
                <th v-if="isAuth"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="gig in gigs" :key="gig.id" v-show="gig.isHideManually == 0 || isAuth">
                <!-- Name -->
                <td>
                    <div>
                        <div @click.prevent="gig.isShowDetailsLocal = !gig.isShowDetailsLocal" style="cursor: pointer">
                            <span style="font-size: 24px">{{ gig.name }}</span>
                            <span class="light-braces" v-if="isGigPlanned(gig.date)">(planned)</span>
                        </div>

                        <div v-if="showGigDetails(gig) && gig.isShowDetailsLocal" class="gig-details">
                            <!-- <dir class="detail">
                                <h4>Venue</h4>
                                <div>
                                    <span>
                                        {{ gig.venue }}
                                    </span>
                                    <span class="first-time-marker" v-if="gig.isVenueFirstTime">
                                        (first time)
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        {{ gig.location }}
                                    </span>
                                    <span class="first-time-marker" v-if="gig.isLocationFirstTime">
                                        (first time)
                                    </span>
                                </div>
                            </dir> -->

                            <!-- <dir class="detail">
                                <h4>Date</h4>
                                <div>
                                    {{ gig.date | humanize }}
                                </div>
                            </dir> -->

                            <div class="detail" v-if="gig.members.length > 0">
                                <h4 style="margin-bottom: 1rem;">Participants</h4>
                                <ul class="participants">
                                    <li v-for="member in gig.members" :key="gig.id + '-' + member.id" class="member">
                                        <span>
                                            {{ member.firstName }} {{ member.lastName }}
                                        </span>
                                        <span v-if="memberHasRoles(member)" class="light-braces">
                                            (<span v-for="(role, i) in member.rolesOnGig" :key="gig.id + '-' + member.id + '-' + role.id">{{ role.name | toLower }}{{ commaSeparated(i, member.rolesOnGig) }}</span>)
                                        </span>
                                        <span class="first-time-marker" v-if="member.isFirstTime">
                                            (first time)
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="detail" v-if="gig.songs.length > 0">
                                <h4 style="margin-bottom: 1rem;">Setlist <span v-if="gig.isApproxSetlist">(Approximate)</span></h4>
                                <ol class="setlist" :style="{ 'list-style': gig.isApproxSetlist ? 'disc' : '' }">
                                    <li v-for="(song, i) in gig.songs" :key="i + '-' + gig.id + '-' + song.id" class="song">
                                        <span>
                                            {{ song.name }}
                                            <span v-if="song.braces != null" class="light-braces">({{ song.braces }})</span>
                                        </span>
                                        <span class="first-time-marker" v-if="song.isFirstTime">
                                            (first time)
                                        </span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </td>

                <!-- Date -->
                <td>{{ gig.date | humanize }}</td>

                <!-- Venue -->
                <td>
                    <span class="venue" :class="{ 'first-time-marker': isFirstTime(gig.isVenueFirstTime) }">{{ gig.venue }}</span>
                    <br>
                    <span class="first-time-marker" v-if="gig.isVenueFirstTime">
                        (first time)
                    </span>
                </td>

                <!-- Location -->
                <td class="location">
                    <img
                        class="location"
                        :src="baseUrl + '/../src/assets/img/locations/' + gig.locationImage"
                        :alt="gig.locationName"
                        :title="gig.locationName">
                    <div class="location" :class="{ 'first-time-marker': isFirstTime(gig.isLocationFirstTime) }">
                        {{ gig.locationName }}
                    </div>
                    <span class="first-time-marker" v-if="gig.isLocationFirstTime">
                        (first time)
                    </span>
                </td>

                <!-- Participants -->
                <!-- <td v-if="false">
                    <ul v-if="showGigDetails(gig) && gig.isShowDetailsLocal">
                        <li v-for="member in gig.members" :key="gig.id + '-' + member.id" class="member" :class="{ 'first-time-marker': isFirstTime(member.isFirstTime) }">
                            {{ member.firstName }} {{ member.lastName }}
                            <span v-if="memberHasRoles(member)" class="light-braces">
                                (<span v-for="(role, i) in member.rolesOnGig" :key="gig.id + '-' + member.id + '-' + role.id">{{ role.name }}{{ commaSeparated(i, member.rolesOnGig) }}</span>)
                            </span>
                        </li>
                    </ul>
                </td> -->

                <!-- Setlist -->
                <!-- <td v-if="false">
                    <ol v-if="showGigDetails(gig) && gig.isShowDetailsLocal">
                        <li v-for="(song, i) in gig.songs" :key="i + '-' + gig.id + '-' + song.id" class="song" :class="{ 'first-time-marker': isFirstTime(song.isFirstTime) }">
                            <span>
                                {{ song.name }}
                                <span v-if="song.braces != null" class="light-braces">({{ song.braces }})</span>
                            </span>
                        </li>
                    </ol>
                </td> -->
                <!-- Actions -->
                <td class="actions" v-if="isAuth">
                    <div :class="{ 'info-only' : !isAuth }">
                        <a
                            @click.prevent="gig.isShowDetailsLocal = !gig.isShowDetailsLocal"
                            :href="'/gig/details/' + gig.id"
                            title="Details"
                            v-if="showGigDetails(gig) && (gig.members.length > 0 || gig.songs.length > 0)">
                            <i class="fas fa-info-circle"></i>
                        </a>

                        <a
                            @click.prevent="showUpdateModal(gig)"
                            :href="'/gig/edit/' + gig.id"
                            title="Edit"
                            v-if="isAuth">
                            <i class="fas fa-edit"></i>
                        </a>

                        <a
                            @click.prevent="showDuplicateModal(gig)"
                            :href="'/gig/duplicate/' + gig.id"
                            title="Duplicate"
                            v-if="isAuth">
                            <i class="fas fa-clone"></i>
                        </a>

                        <a
                            @click.prevent="del(gig)"
                            :href="'/gig/delete/' + gig.id"
                            title="Delete"
                            v-if="isAuth">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import { common } from '../../main';

    export default {
        data () {
            return {
                isAuth: common.isAuth,
                baseUrl: ''
            }
        },
        created() {
            this.baseUrl = common.baseUrl;
        },
        props: [
            'isMarkFirstTimeData',
            'sortVenue',
            'sortLocation'
        ],
        methods: {
            showUpdateModal(gig) {
                this.$emit('showUpdateModal', gig);
            },
            showDuplicateModal(gig) {
                this.$emit('showDuplicateModal', gig);
            },
            del(gig) {
                this.$emit('del', gig);
            },
            commaSeparated(i, array) {
                if (i < array.length - 1) return ', ';
                return '';
            },
            showGigDetails(gig) {
                return ((new Date(gig.date).getTime() + 60 * 60 * 24 * 1000) <= new Date().getTime() && gig.isShowDetails) || this.isAuth;
            },
            memberHasRoles(member) {
                return member.rolesOnGig != undefined && member.rolesOnGig.length > 0;
            },
            isGigPlanned(date) {
                return new Date(date).getTime() > new Date().getTime()
            },
            isFirstTime(condition) {
                return condition && this.isMarkFirstTimeData;
            }
        },
        computed: {
            gigs() {
                return common.gigs.sort((a, b) => {
                    return common.gigs.sort((a, b) => { return (a.date < b.date) ? -1 : (a.date < b.date) ? 1 : 0 });
                }).filter(gig => {
                    var location = common.locations.find(l => { return l.slug == this.sortLocation });
                    if (location != null) return gig.locationId == location.id;
                    return true;
                }).filter(gig => {
                    var venue = common.venues.find(v => { return v.slug == this.sortVenue });
                    if (venue != null) return gig.venueSlug == venue.slug;
                    return true;
                });
            }
        }
    }
</script>

<style>
    table ul {
        /* list-style: none; */
    }

    .participants {
        padding-left: 20px;
    }

    td, th {
        white-space: nowrap;
    }

    .member, .song {
        padding: 4px;
        margin: 2px;
        border-radius: 4px;
    }

    td.location, th.location {
        text-align: center;
    }

    img.location {
        max-width: 2.5em;
    }

    div.location {
        padding: 4px;
        border-radius: 4px;
    }

    div.location{
        text-align: center;
        font-size: 80%;
    }

    td.location span {
        display: block;
    }

    .first-time-marker {
        /* background: gold; */
        /* transition: background linear .25s; */
        color: #f09;
        font-style: italic
    }

    .gig-details {
        margin-top: 2em;
    }

    .gig-details .member {
        padding: 4px 0;
        margin: 2px 0;
    }

    .gig-details .detail {
        margin-bottom: 2em;
    }

    .gig-details .setlist {
        padding-left: 20px;
    }

    * {
        transition: background linear .125s;
    }
</style>