<template>
    <div class="modal-wrapper" @click="$emit('cancel')">
        <div class="modal" @click.stop>

            <header class="modal-header">
                <h2 class="modal-h2">
                    <span v-if="mode == 'create' && currentTab == 'cn'">Create New Gig</span>
                    <span v-if="mode == 'create' && currentTab == 'ae'">Add Existing Gig</span>
                    
                    <span v-if="mode == 'update'">Update Gig</span>
                </h2>
                <div v-if="mode == 'create' && gigs.length > 0" class="header-button-container">
                    <span @click="currentTab = 'cn'" class="header-button" :class="{ 'selected': currentTab == 'cn' }">Create New</span>
                    <span @click="currentTab = 'ae'" class="header-button" :class="{ 'selected': currentTab == 'ae' }">Add Existing</span>
                </div>
            </header>

            <!-- Modal content-->
            <main class="modal-content">

                <!-- Create New -->
                <div id="cn-tab" v-if="currentTab == 'cn'">
                    <p>
                        <label>Name</label>
                        <input type="text" v-model="gig.name" required placeholder="For example: 'Live at the SCUMM Bar'">
                    </p>

                    <p>
                        <label>Date</label>
                        <input type="date" v-model="gig.date" required placeholder="For example: '1999-02-04'">
                    </p>

                    <p>
                        <label>Venue</label>
                        <select id="venue-id" v-model="gig.venueId" required :class="{ 'placeholder-color': gig.venueId == null }">
                            <option v-if="gig.venueId == null" :value="null">--- Select ---</option>
                            <option v-for="venue in venues" :value="venue.id" :key="venue.id">{{ venue.name }}</option>
                        </select>
                    </p>
                </div>

                <!-- Add Existing -->
                <div id="ae-tab" v-if="currentTab == 'ae'">
                    <label>Existing Gig</label>

                    <select id="gig-id" v-model="selectedGig.id" required :class="{ 'placeholder-color': selectedGig.id == null }">
                        <option v-if="selectedGig.id == null" :value="null">--- Select ---</option>
                        <option v-for="g in gigs" :value="g.id" :key="g.id">{{ g.name }}</option>
                    </select>

                    <p>
                        <label>
                            Name
                            <span class="optional-label" v-if="this.mode == 'create'">
                                Optional, only if you want another name
                            </span>
                        </label>
                        <input type="text" v-model="selectedGig.name" required placeholder="For example: 'Live at the SCUMM Bar'">
                    </p>
                </div>

                <p>
                    <label>Show Details</label>
                    <input type="checkbox" class="toggle-switch" v-model="gig.isShowDetails">
                </p>

                <p>
                    <label>Hide Manually</label>
                    <input type="checkbox" class="toggle-switch" v-model="gig.isHideManually">
                </p>

                <!-- Participants -->
                <fieldset>
                    <legend>Participants</legend>
                    <div v-for="member in gig.members" :key="member.m2bId" v-show="!member.delete" class="modal-list-item">

                        <div v-if="!member.edit" class="modal-list-item-show">
                            <span>
                                {{ member.index }}.&nbsp;
                                <span>{{ member.firstName }} {{ member.lastName }}</span>
                                <span v-if="memberHasRoles(member)" class="light-braces">
                                    (<span v-for="(role, i) in member.rolesOnGig" :key="gig.id + '-' + member.id + '-' + role.id">{{ role.name | toLower }}{{ commaSeparated(i, member.rolesOnGig) }}</span>)
                                </span>
                            </span>

                            <i class="fas fa-arrow-alt-circle-up" :class="{ disabled: member.index == 1 }" @click="moveMemberUp(member)"></i>
                            <i class="fas fa-arrow-alt-circle-down" :class="{ disabled: member.index == notDeletedMembers.length }" @click="moveMemberDown(member)"></i>
                            <i class="fas fa-edit" v-if="!member.edit" @click="member.edit = true"></i>
                            <i class="fas fa-trash-alt" @click="deleteMember(member)"></i>
                        </div>

                        <fieldset v-else class="modal-list-item-edit">
                            <legend v-if="!member.added">Add Participant</legend>
                            <legend v-else>Edit Participant {{ member.index }} </legend>
                            
                            <p>
                                <label>Select Participant</label>
                                <select id="member-id" v-model="member.m2bId" @change="onMemberChange" required :class="{ 'placeholder-color': member.m2bId == null }">
                                    <option v-if="member.m2bId == null" :value="null">--- Select ---</option>
                                    <option v-for="m in members" :value="m.m2bId" :key="m.m2bId">{{ m.firstName }} {{ m.lastName }}</option>
                                </select>
                            </p>

                            <!-- Roles -->
                            <label v-if="member.rolesOnGig.filter(r => { return !r.delete; }).length">Roles</label>

                            <div v-for="role in member.rolesOnGig" :key="role.id" v-show="!role.delete">
                                <div v-if="!role.edit" class="modal-list-item-show">
                                    <span>
                                        {{ role.index }}.&nbsp;
                                        <span>{{ role.name }}</span>
                                    </span>

                                    <i class="fas fa-arrow-alt-circle-up" :class="{ disabled: role.index == 1 }" @click="moveRoleUp(member, role)"></i>
                                    <i class="fas fa-arrow-alt-circle-down" :class="{ disabled: role.index == member.rolesOnGig.filter(r => { return !r.delete; }).length }" @click="moveRoleDown(member, role)"></i>
                                    <i class="fas fa-edit" v-if="!role.edit" @click="role.edit = true"></i>
                                    <i class="fas fa-trash-alt" @click="deleteRole(member, role)"></i>
                                </div>

                                <fieldset v-else class="modal-list-item-edit">
                                    <legend v-if="!role.added">Add Role</legend>
                                    <legend v-else>Edit Role {{ role.index }} </legend>

                                    <p>
                                        <label>Select Role</label>

                                        <select id="role-id" v-model="role.id" :class="{ 'placeholder-color': role.id == null }">
                                            <option v-if="role.id == null" :value="null">--- Select ---</option>
                                            <option v-for="r in roles" :value="r.id" :key="r.id">{{ r.name }}</option>
                                        </select>
                                    </p>

                                    <button class="button normal" @click="saveRole(role)">Done</button>
                                    <button class="button cancel" @click="cancelRole(member, role)">Cancel</button>
                                </fieldset>
                            </div>
                            <button class="button normal" @click="addRole(member)" style="margin-top: 2em;">Add New Role</button>
                            
                            <button class="button normal" @click="saveMember(member)" style="margin-top: 2em;">Done</button>
                            <button class="button cancel" @click="cancelMember(member)" style="margin-top: 2em;">Cancel</button>
                        </fieldset>

                        <!-- {{ member.index }}.
                        <span>{{ member.firstName }} {{ member.lastName }}</span>
                        <button v-if="!member.edit" @click="member.edit = true"><i class="fas fa-edit"></i></button>
                        <button @click="deleteMember(member)"><i class="fas fa-trash-alt"></i></button> -->

                        <!-- <div v-if="member.edit">
                            <select id="member-id" v-model="member.m2bId" @change="onMemberChange" required :class="{ 'placeholder-color': member.m2bId == null }">
                                <option v-if="member.m2bId == null" :value="null">--- Select ---</option>
                                <option v-for="m in members" :value="m.m2bId" :key="m.m2bId">{{ m.firstName }} {{ m.lastName }}</option>
                            </select>

                            <button @click="member.edit = false">Done</button>

                            <div v-for="role in member.rolesOnGig" :key="role.id" v-show="!role.delete">
                                <button :disabled="role.index == 1" @click="moveRoleUp(member, role)">up</button>
                                <button :disabled="role.index == member.rolesOnGig.filter(r => { return !r.delete; }).length" @click="moveRoleDown(member, role)">down</button>

                                {{ role.index }}.
                                <select id="role-id" v-model="role.id" :class="{ 'placeholder-color': role.id == null }">
                                    <option v-if="role.id == null" :value="null">--- Select ---</option>
                                    <option v-for="r in roles" :value="r.id" :key="r.id">{{ r.name }}</option>
                                </select>

                                <button @click="deleteRole(member, role)">delete</button>
                            </div>
                            <button @click="addRole(member)">Add New Role</button>
                        </div> -->
                    </div>
                    <button class="button normal" @click="addMember(gig)" style="margin-top: 2em;">Add New Participant</button>
                </fieldset>

                <!-- Setlist -->
                <fieldset>
                    <legend>Setlist</legend>
                    <p>
                        <label>Approximate?</label>
                        <input type="checkbox" class="toggle-switch" v-model="gig.isApproxSetlist">
                    </p>

                    <div v-for="song in gig.songs" :key="song.id" v-show="!song.delete" class="modal-list-item">
                        
                        <div v-if="!song.edit" class="modal-list-item-show">
                            <span>
                                <span v-if="gig.isApproxSetlist">&bull;&nbsp;</span>
                                <span v-else>{{ song.index }}.&nbsp;</span>
                                <span>{{ song.name }}</span>
                                <span v-if="song.braces != null" class="light-braces">({{ song.braces }})</span>
                            </span>

                            <i class="fas fa-arrow-alt-circle-up" :class="{ disabled: song.index == 1 }" @click="moveSongUp(song)"></i>
                            <i class="fas fa-arrow-alt-circle-down" :class="{ disabled: song.index == notDeletedSongs.length }" @click="moveSongDown(song)"></i>
                            <i class="fas fa-edit" v-if="!song.edit" @click="song.edit = true"></i>
                            <i class="fas fa-trash-alt" @click="deleteSong(song)"></i>
                        </div>

                        <fieldset v-else class="modal-list-item-edit">
                            <legend v-if="!song.added">Add Song</legend>
                            <legend v-else>Edit Song {{ song.index }} </legend>
                            
                            <p>
                                <label>Select Song</label>
                                <select id="song-id" v-model="song.id" required :class="{ 'placeholder-color': song.id == null }">
                                    <option v-if="song.id == null" :value="null">--- Select ---</option>
                                    <option v-for="s in songs" :value="s.id" :key="s.id">{{ s.name }}</option>
                                </select>
                            </p>

                            <p>
                                <label>Song Name Variation</label>
                                <select id="variation-id" v-model="song.variationId" :class="{ 'placeholder-color': song.variationId == null }">
                                    <option :value="null">[None]</option>
                                    <option v-for="v in variations" :value="v.id" :key="'song-' + song.id + '-variation-' +  v.id">{{ v.variation }}</option>
                                </select>
                            </p>

                            <p>
                                <label>Variation in Braces</label>
                                <input type="checkbox" class="toggle-switch" v-model="song.isInBraces">
                            </p>

                            <button class="button normal" @click="saveSong(song)">Done</button>
                            <button class="button cancel" @click="cancelSong(song)">Cancel</button>
                        </fieldset>
                    </div>
                    <button class="button normal" @click="addSong(gig)" style="margin-top: 2em;">Add New Song</button>
                </fieldset>
            </main>
            <footer class="modal-footer" id="modal-buttons-wrapper">
                <button
                    type="button"
                    class="button normal"
                    :disabled="buttonIsDisabled"
                    @click="save()">
                        {{
                            this.mode == 'update' ? 'Save' : currentTab == 'ae' ? 'Add' : 'Create'
                        }}
                </button>
                <button type="button" class="cancel" @click="cancel()">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import { common } from '../../main';
    
    export default {
        props: [
            'gig',
            'mode'
        ],
        data() {
            return {
                members: [],
                roles: [],
                songs: [],
                variations: [],
                venues: [],
                selectedGig: { id: null, songs: [], members: [] },
                gigs: [],
                currentTab: 'cn'
            }
        },
        computed: {
            notDeletedSongs() {
                return this.gig.songs.filter(song => {
                    return !song.delete;
                })
            },
            notDeletedMembers() {
                return this.gig.members.filter(member => {
                    return !member.delete;
                })
            },
            buttonIsDisabled() {
                return  (
                            this.currentTab == 'cn'
                            &&
                            (
                                !this.gig.name
                                ||
                                !this.checkIfDateValid(this.gig.date)
                                ||
                                this.gig.venueId == null
                            )
                        )
                        ||
                        (this.currentTab == 'ae' && this.selectedGig.id == null)
                        ||
                        this.notDeletedMembers.length == 0
                        ||
                        this.notDeletedSongs.length == 0
            }
        },
        methods: {
            save() {
                if (this.mode == 'create') {
                    var gig;

                    if (this.currentTab == 'ae') {
                        if (this.selectedGig.name == null) {
                            this.selectedGig.name = this.gigs.find(g => g.id == this.selectedGig.id).name;
                        }
                        gig = this.selectedGig;
                        gig.isShowDetails = this.gig.isShowDetails;
                        gig.isHideManually = this.gig.isHideManually;
                        gig.members = this.gig.members;
                        gig.songs = this.gig.songs;
                    } else if (this.currentTab == 'cn') {
                        gig = this.gig;
                    }

                    axios.post('gigs/create.php', gig)
                    .then(response => {
                        if (response != 0) {
                            axios.get('gigs/read_single.php', {
                                params: {
                                    g2b_id: response.data
                                }
                            })
                            .then(r => {
                                this.$emit('create', r.data);
                            });
                        }
                    })
                } else if (this.mode == 'update') {
                    axios.put('gigs/update.php', this.gig)
                    .then(() => {
                        axios.get('gigs/read_single.php', {
                            params: {
                                g2b_id: this.gig.g2bId
                            }
                        })
                        .then(r => {
                            r.data.isShowDetailsLocal = this.gig.isShowDetailsLocal;
                            this.$emit('update', r.data);
                        });
                    })
                }
            },
            onFileChanged(event) {
                this.selectedFile = event.target.files[0];
            },
            cancel() {
                this.$emit('cancel');
            },
            memberHasRoles(member) {
                return member.rolesOnGig != undefined && member.rolesOnGig.length > 0;
            },
            commaSeparated(i, array) {
                if (i < array.length - 1) return ', ';
                return '';
            },

            // Songs
            addSong(gig) {
                gig.songs.push({
                    id: null,
                    index: this.notDeletedSongs.length + 1,
                    variationId: null,
                    delete: false,
                    edit: true,
                    added: false
                })
            },
            saveSong(song) {
                song.added = true;
                song.edit = false;

                var s = this.songs.find(s => s.id == song.id);
                var v = this.variations.find(v => v.id == song.variationId);

                if (song.variationId == null) {
                    song.name = s.name;
                    song.braces = null;
                } else {
                    if (song.isInBraces) {
                        song.name = s.name;
                        song.braces = v.variation;
                    } else {
                        song.name = v.variation;
                        song.braces = s.name;
                    }
                }
            },
            cancelSong(song) {
                if (!song.added) {
                    this.deleteSong(song);
                } else {
                    song.edit = false;
                }
            },
            moveSongUp(song) {
                var songPosition = this.notDeletedSongs.indexOf(song);

                if (songPosition != 0) {
                    this.notDeletedSongs[songPosition].index--;
                    this.notDeletedSongs[songPosition - 1].index++;
                }
                this.gig.songs.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            },
            moveSongDown(song) {
                var songPosition = this.notDeletedSongs.indexOf(song);

                if (songPosition != this.notDeletedSongs.length - 1) {
                    this.notDeletedSongs[songPosition].index++;
                    this.notDeletedSongs[songPosition + 1].index--;
                }
                this.gig.songs.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            },
            deleteSong(song) {
                song.delete = true;
                this.gig.songs.forEach(s => {
                    if (s.index > song.index) {
                        s.index--;
                    }
                });
            },

            // Members
            addMember(gig) {
                gig.members.push({
                    m2bId: null,
                    index: this.notDeletedMembers.length + 1,
                    rolesOnGig: [],
                    delete: false,
                    edit: true,
                    added: false
                });
            },
            saveMember(member) {
                member.added = true;
                member.edit = false;

                var m = this.members.find(m => m.m2bId == member.m2bId);

                member.firstName = m.firstName;
                member.lastName = m.lastName;
            },
            cancelMember(member) {
                if (!member.added) {
                    this.deleteMember(member);
                } else {
                    member.edit = false;
                }
            },
            onMemberChange(event) {
                // var member = this.members.filter(m => { return m.id == event.target.value })[0];

                // member.rolesOnGig = [];

                // member.rolesOnGig.push({
                //     id: member.defaultRoleId,
                //     index: member.rolesOnGig.filter(r => { return !r.delete; }).length + 1,
                //     delete: false
                // });

                // console.log(this.members.filter(m => { return m.id == event.target.value })[0]);
            },
            moveMemberUp(member) {
                var memberPosition = this.notDeletedMembers.indexOf(member);

                if (memberPosition != 0) {
                    this.notDeletedMembers[memberPosition].index--;
                    this.notDeletedMembers[memberPosition - 1].index++;
                }
                this.gig.members.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            },
            moveMemberDown(member) {
                var memberPosition = this.notDeletedMembers.indexOf(member);

                if (memberPosition != this.notDeletedMembers.length - 1) {
                    this.notDeletedMembers[memberPosition].index++;
                    this.notDeletedMembers[memberPosition + 1].index--;
                }
                this.gig.members.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            },
            deleteMember(member) {
                member.delete = true;
                this.gig.members.forEach(m => {
                    if (m.index > member.index) {
                        m.index--;
                    }
                });
            },

            // Roles
            addRole(member) {
                member.rolesOnGig.push({
                    id: null,
                    index: member.rolesOnGig.filter(r => { return !r.delete; }).length + 1,
                    delete: false,
                    edit: true,
                    added: false
                })
            },
            saveRole(role) {
                role.added = true;
                role.edit = false;

                var r = this.roles.find(r => r.id == role.id);

                role.name = r.name;
            },
            cancelRole(member, role) {
                if (!role.added) {
                    this.deleteRole(member, role);
                } else {
                    role.edit = false;
                }
            },
            moveRoleUp(member, role) {
                var notDeletedRoles = member.rolesOnGig.filter(r => { return !r.delete; });
                var rolePosition = notDeletedRoles.indexOf(role);

                if (rolePosition != 0) {
                    notDeletedRoles[rolePosition].index--;
                    notDeletedRoles[rolePosition - 1].index++;
                }
                member.rolesOnGig.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            },
            moveRoleDown(member, role) {
                var notDeletedRoles = member.rolesOnGig.filter(r => { return !r.delete; });
                var rolePosition = notDeletedRoles.indexOf(role);

                if (rolePosition != notDeletedRoles.length - 1) {
                    notDeletedRoles[rolePosition].index++;
                    notDeletedRoles[rolePosition + 1].index--;
                }
                member.rolesOnGig.sort((a, b) => { return a.index < b.index ? -1 : a.index > b.index ? 1 : 0 });
            },
            deleteRole(member, role) {
                role.delete = true;
                member.rolesOnGig.forEach(r => {
                    if (r.index > role.index) {
                        r.index--;
                    }
                });
            },
            checkIfDateValid(s) {
                var patternRegex = new RegExp(/^\d{4}-\d{1,2}-\d{1,2}$/);
                if (!patternRegex.test(s)) return false;
                
                var y = s.split('-')[0];
                var m = s.split('-')[1];
                var d = s.split('-')[2];

                if (d > 31 || d < 1) return false;

                if (m < 1 || m > 12) return false;
                
                if ([2, 4, 6, 9, 11].includes(parseInt(m)) && d > 30) return false;

                if (m == 2 && d > 29) return false;

                if (m == 2 && d > 28) {
                    if (y % 100 == 0 && y % 400 != 0) {
                        return false;
                    }
                    if (y % 4 != 0) {
                        return false;
                    }
                }
                
                return true;
            }
        },
        created() {
            axios.get('venues/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                this.venues = response.data;
            });

            axios.get('members/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                this.members = response.data;
            });

            axios.get('roles/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                this.roles = response.data;
            });

            axios.get('songs/read.php', {
                params: {
                    by_current_band: true,
                    active_only: false // need non-active for past gigs
                }
            }).then(response => {
                this.songs = response.data;
            });

            axios.get('song_name_variations/read.php', {
                params: {
                    by_current_band: true
                }
            }).then(response => {
                this.variations = response.data;
            });

            axios.get('gigs/read.php', {
                params: {
                    by_current_band: false
                }
            }).then(response => {
                this.gigs = response.data;
            });
        }
    }
</script>