<template>
    <table v-if="variations.length > 0">
        <thead>
            <tr>
                <th></th>
                <th>Variation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(variation, i) in variations" :key="variation.id">
                <td>{{ i + 1 }}</td>
                <!-- Variation -->
                <td>{{ variation.variation }}</td>

                <!-- Actions -->
                <td class="actions">
                    <a @click.prevent="showUpdateModal(variation)" :href="'/song_name_variations/edit/' + variation.id" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a @click.prevent="del(variation)" :href="'/song_name_variations/delete/' + variation.id" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import { common } from '../../main';

    export default {
        methods: {
            showUpdateModal(variation) {
                this.$emit('showUpdateModal', variation);
            },
            del(variation) {
                this.$emit('del', variation);
            }
        },
        computed: {
            variations() {
                if (common.songNameVariations.length == 0) {
                    return [];
                }

                return common.songNameVariations.sort((a, b) => { return (a.variation.toLowerCase() < b.variation.toLowerCase()) ? -1 : (a.variation.toLowerCase() < b.variation.toLowerCase()) ? 1 : 0 });
            }
        }
    }
</script>

<style>
    span.status {
        padding: 4px 6px;
        border-radius: 4px;
        font-size: 14px;
        display: inline;
    }
</style>