<template>
    <div class="modal-wrapper" @click="$emit('cancel')">
        <div class="modal" @click.stop>

            <header class="modal-header">
                <h2 class="modal-h2">
                    <span v-if="mode == 'create' && currentTab == 'cn'">Create New Variation</span>
                    <span v-if="mode == 'create' && currentTab == 'ae'">Add Existing Variation</span>
                    
                    <span v-if="mode == 'update'">Update Variation</span>
                </h2>
                <div v-if="mode == 'create' && variations.length > 0" class="header-button-container">
                    <span @click="currentTab = 'cn'" class="header-button" :class="{ 'selected': currentTab == 'cn' }">Create New</span>
                    <span @click="currentTab = 'ae'" class="header-button" :class="{ 'selected': currentTab == 'ae' }">Add Existing</span>
                </div>
            </header>

            <!-- Modal content-->
            <main class="modal-content">

                <div id="cn-tab" v-if="currentTab == 'cn'">
                    <p>
                        <label>Variation Text</label>
                        <input type="text" v-model="variation.variation" required placeholder="For example: 'demo'">
                    </p>
                </div>

                <div id="ae-tab" v-if="currentTab == 'ae'">
                    <label>Existing Variation</label>

                    <select v-model="selectedVariation.id" required :class="{ 'placeholder-color': selectedVariation.id == null }">
                        <option v-if="selectedVariation.id == null" :value="null">--- Select ---</option>
                        <option v-for="v in variations" :value="v.id" :key="v.id">{{ v.variation }}</option>
                    </select>
                </div>
            </main>
            <footer class="modal-footer" id="modal-buttons-wrapper">
                <button
                    type="button"
                    class="button normal"
                    :disabled="buttonIsDisabled"
                    @click="save()">
                        {{
                            this.mode == 'update' ? 'Save' : currentTab == 'ae' ? 'Add' : 'Create'
                        }}
                </button>
                <button type="button" class="button cancel" @click="cancel()">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    
    export default {
        props: [
            'variation',
            'mode'
        ],
        data() {
            return {
                variations: [],
                selectedVariation: { id: null },
                currentTab: 'cn'
            }
        },
        methods: {
            save() {
                if (this.mode == 'create') {
                    var variation;

                    if (this.currentTab == 'ae') {
                        variation = this.selectedVariation;
                    } else if (this.currentTab == 'cn') {
                        variation = this.variation;
                    }

                    axios.post('song_name_variations/create.php', variation)
                    .then(response => {
                        if (response != 0) {
                            axios.get('song_name_variations/read_single.php', {
                                params: {
                                    snv2b_id: response.data
                                }
                            })
                            .then(r => {
                                this.$emit('create', r.data);
                            });
                        }
                    })
                } else if (this.mode == 'update') {
                    axios.put('song_name_variations/update.php', this.variation)
                    .then(() => {
                        axios.get('song_name_variations/read_single.php', {
                            params: {
                                snv2b_id: this.variation.snv2bId
                            }
                        })
                        .then(r => {
                            this.$emit('update', r.data);
                        });
                    })
                }
            },
            cancel() {
                this.$emit('cancel');
            }
        },
        computed: {
            buttonIsDisabled() {
                return  (this.currentTab == 'cn' && !this.variation.variation)
                        ||
                        (this.currentTab == 'ae' && this.selectedVariation.id == null);
            }
        },
        created() {
            axios.get('song_name_variations/read.php', {
                params: {
                    by_current_band: false
                }
            }).then(response => {
                this.variations = response.data;
            });
        }
    }
</script>