<template>
    <main>
        <h1>
            Song Name Variations
            <a
                href="/song_name_variations/add"
                v-if="isAuth"
                @click.prevent="showCreateModal()">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h1>

        <div v-if="this.songNameVariations.length == 0">
            No song name variations to show. <a href="/song_name_variations/create" @click.prevent="showCreateModal()">Create</a> your first song name variation.
        </div>

        <grid
            @showUpdateModal="showUpdateModal($event)"
            @del="del($event)"></grid>

        <modal
            v-if="showModal"
            :mode="mode"
            :variation="variationToEdit"
            @create="create($event)"
            @update="update($event)"
            @cancel="showModal = false;" />
    </main>
</template>

<script>
    import axios from 'axios';

    import { common } from '../../main';
    
    import grid from './grid.vue';
    import modal from './modal.vue';

    export default {
        data () {
            return {
                isAuth: common.isAuth,
                showModal: false,
                variationToEdit: {},
                mode: ''
            }
        },
        components: {
            grid,
            modal
        },
        methods: {
            showCreateModal() {
                this.showModal = true;
                this.variationToEdit = {};
                this.mode = 'create';
            },
            create(variation) {
                if (variation != 0) {
                    common.songNameVariations.push(variation);
                    this.showModal = false;
                }
            },
            showUpdateModal(variation) {
                this.showModal = true;
                this.variationToEdit = JSON.parse(JSON.stringify(common.songNameVariations.find(s => s.id === variation.id)));
                this.mode = 'update';
            },
            update(newVariation) {
                var oldVariation = common.songNameVariations.find(r => r.id === newVariation.id);
                common.songNameVariations.splice(common.songNameVariations.indexOf(oldVariation), 1, newVariation);
                this.showModal = false;
            },
            del(variation) {
                if (confirm("Are you sure?")) {
                    axios.delete('song_name_variations/delete.php', { data: variation.id })
                    .then(response => {
                        if (response.data == "OK") {
                            common.songNameVariations.splice(common.songNameVariations.indexOf(variation), 1);
                        } else {
                            alert(response.data);
                        }
                    })
                }
            }
        },
        created() {
            axios.get('song_name_variations/read.php', {
                params: {
                    by_current_band: true
                }
            })
            .then(response => {
                common.songNameVariations = response.data;
            })
        },
        computed: {
            songNameVariations() {
                return common.songNameVariations;
            }
        }
    }
</script>

<style>
    h1 a {
        color: #ccc;
        text-decoration: none;
        font-size: 20px;
        margin-left: 1em;
    }

    h1 a:hover {
        color: #39f;
    }
</style>